# Local dev
/.idea
/.elasticbeanstalk
.DS_Store
*.php~
*.js~
devmode.php
c3.php
.env

# Runtime
/vendor/
config/local.php

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

