#
# !!! DON'T FORGET TO UPDATE THE .ebignore FILE !!!
# !!! DON'T FORGET TO UPDATE THE .dockerignore FILE !!!
#

# Local dev
.idea/
.elasticbeanstalk/
zlocal-dev/
ohm/lumenapi/.phpunit.result.cache
.DS_Store
*.php~
*.js~
c3.php
.env
*.code-workspace
*.iml

# CI
bin/

# Runtime
/vendor/
config/local.php

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/vendor
/tests/_support/_generated
/tests/_output/
/c3.php
.phpunit.cache/
.phpunit.result.cache
*.php~
*.js~
mathjax-b
HTMLPurifier
