# Local dev
/.idea
/.elasticbeanstalk
.DS_Store
*.php~
*.js~

# Runtime
config/local.php

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/vendor
/tests/_support/_generated
/tests/_output/
/c3.php
*.php~
*.js~