language: php
php:
  - '7.2'
before_script:
  - mysql -e 'CREATE DATABASE myopenmathdb;'
  - composer install
  - cp .env.example .env
  - cp -f config/travis.php config/ohm.php
  - cp ohm/api/src/configs/settings-example.php ohm/api/src/configs/settings.php
  - cp -f ohm/tests/api.suite-travis.yml ohm/tests/api.suite.yml
script:
  - composer run-script testmom
  - ./vendor/bin/codecept run unit
env:
  global:
    - CLI=true
    - CONFIG_ENV=travis
    - DB_SERVER=localhost
    - DB_USERNAME=root
    - DB_PASSWORD=""
    - S3_MAIN_BUCKET_NAME=none
