language: php
php:
  - '7.2'
services:
  - mysql
before_script:
  - mysql -e 'CREATE DATABASE myopenmathdb;'
  - composer install
  - cp .env.example .env
  - cp ohm/api/src/configs/settings-prod.php ohm/api/src/configs/settings.php
  - php -S 127.0.0.1:8080 -t . &
script:
  - sleep 3
  - php ./setupdb.php
  - composer migrate-ohm
  - composer seed-ohm
  - composer run-script test-mom
  #- composer run-script test-ohm
  - ./vendor/bin/codecept run unit
env:
  global:
    - CLI=true
    - CONFIG_ENV=travis
    - DB_SERVER=127.0.0.1
    - DB_NAME=myopenmathdb
    - DB_USERNAME=root
    - DB_PASSWORD=""
    - S3_MAIN_BUCKET_NAME=none
    - OHM_API_JWT_SECRET=development_jwt_secret
deploy:
  - provider: elasticbeanstalk
    access_key_id: AKIA2R75LKKD2R36Q7O4
    secret_access_key:
      secure: "nRKjpv/5vXeg0J2U0plBLvHDZJc3ccg8VzvavmpRxLd2IGrkeC9F83EirFfiCmHWN8307YFNJNQixzGmFPkVgzbqrVCXsDpx9/jye++aLTkbJrlhihq1kWF8Wvz6aCARMGfPcq7XnlPaRhgR67SyYv+DjO1gjHHSdmEClOdbFDlzQbAEhKWv9h8DlJCuoRBaMx+fQ+A7lP18GxYMUkweBhNhApWSLoFwCRPNV3kKr506S/JzSIPDb+yCHlGZeGIzdIMjnLJW21WG+Ima7DAOqxZp+kAqcpUsIc1tgdlLSgsozr1n+xO5MkdqAbs73TjgwIu2LYWDJaVtsdvK0JAP1D15lX2gCSSo1dfHsze2QpPtCN49umuZl+puORZk/kEyDJ1p5uFILy9WRouRu6A59nEJgGjFfu0kV+XHsDYHOF9YPBT6Z+l+IE1f2qHN9/luPNfkcgLz7PvRAfdEpcUG1KJpblqxABFoR1XGpO2sKDlVq4suK81tkCOUvWtczaq70cKboIn41/hmShurQvhWwGC6pZmwP0ROlxZZZEDEubqFbyzAZvCfndlPN6ZGPxhiPUBZf/cZcUYv0wMLkDWaBSF5I5bed1kWiuCr5M9pA8+oUVysj+C51IToYMjZ5wlAQQqB6fqf69tXbSvxeiC0QlSAr9a6G0k1GWbn+Qlo6eo="
    region: "us-west-2"
    app: "LuMOM-stg"
    env: "lumom-stg"
    bucket_name: elasticbeanstalk-us-west-2-725843923591
    on:
      repo: lumenlearning/ohm
      branch: staging
  - provider: elasticbeanstalk
    access_key_id: AKIAXT4KW2NSWFUUDD4P
    secret_access_key:
      secure: "g1dbhOtr6ziziEHIogI0W54pXn8q2BbkQ79eV0uJZXEBhOniobd57Q/FrnGvzVe91gpi3ypYtORrYwcJBxN3fhVQN26NVYaVRmjnl8Qagr+P26+n31JtQdSi4z9vri4R8FdLs0apSNXI5y57+LgRpoW9SfVyTNcg8wlTidGvFcNRFvfgNIdJaZjqYLLshZI732u92py92GksRH1r0DuGWjf7JZSrCZoD0f6cBJ9hcZWOK+k2G6pUZutNJ2bJgfykowg0PpnXe9LjeHUlbaC3EZPxtKJ8am69so3UPFTbEULmWFciCZcsKcawt39v1bfPGmYEkkgG4ljcBzdgtff1PL6t0tMYyR4ezQuHPD2lA/ZSmY2YEE85LEguFgJx/918aaLKYHwFWKg7KqHPfgxhzXFvwnV0wXqikcqvwjJcnbPdwqmoxm60Y/wlFUQw/S9Qz+5AJGlrN0O8ykdYUCAPr3azLlcjw/sFWgn7sK52SK2QI3l4Kvj3kKcDVnIa/L9gEKXHpNVZ/7IZcUzsjtUQu0UyAt1n6eaj54bp2BASudybrsKuZp56bFnwVNeRaadisNIigrHz1ZFj/bk8qD1ng4QjUSr4Zg2FgMYEg4Nzv1q+Ycr9qppcsko5PJixPUYMkTLnwdAocpYynS80XzVg4Ue6E9gILd1tK7T6H0lR11w="
    region: "us-west-2"
    app: "Ohm"
    env: "ohm-prod-71"
    bucket_name: elasticbeanstalk-us-west-2-523740042085
    on:
      repo: lumenlearning/ohm
      tags: true
      branch:
        - /^master$/
        - /^release\/\d{4}-\d{2}-\d{2}(\.\d{2})?$/

