# https://docs.docker.com/compose/
# https://docs.docker.com/compose/compose-file/

version: "3"

services:
  app:
    build:
      context: ./
      dockerfile: docker/Dockerfile-php
      args:
        enabledev: "true"
    expose:
      - 80
      - 443
    ports:
      - "443:443"
      - "80:80"
    links:
      - db
    volumes:
      - "./:/var/www/html"
      - "./docker/ssl:/etc/ssl/docker"

    hostname: ohm
    domainname: ludev.team

    restart: unless-stopped
    privileged: true
    stdin_open: false
    tty: false

    environment:
      DB_SERVER: "db"
      DB_NAME: "ohm"
      DB_USERNAME: "ohm"
      DB_PASSWORD: "ohm"
      CONFIG_ENV: "development"

  db:
    image: mysql:5.7
    platform: linux/x86_64
    expose:
      - 3306
    ports:
      - "127.0.0.1:3305:3306"
    volumes:
      - "$HOME/docker-data/mysql-ohm:/var/lib/mysql"

    hostname: db
    domainname: ludev.team

    restart: unless-stopped
    privileged: false
    stdin_open: false
    tty: false

    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_USER: "ohm"
      MYSQL_PASSWORD: "ohm"
      MYSQL_DATABASE: "ohm"
      DB_CHARSET: "latin1"
