html,body {
	margin:0px;
	padding: 0px;
}
form {
	margin: 0px;
	padding: 0px;
}
div {
	margin-top: 10px;
	margin-right: 10px;
	padding: 5px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.nopad {
	margin: 0px;
	padding: 0px;
}
.clear {
	clear: both;
}
.imgfloat {
	float: left;
	vertical-align: middle;
}
.floatleft {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}
body {
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 95%;
}
.content {
	margin-left: 220px;
}
.floatright {
	float: right;
	margin-left: 20px;
}
.imgright {
	float: right;
	margin-left: 20px;
	margin-top: 20px;
}
div#logo {
	/*margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;*/
	display: none;
}
div#logo span i {
	color: #636;
}
div#logo img {
	vertical-align: middle;
}
div#headerrightlinks {
	display:none;
}
div#header {
	clear: both;
	height: 75px;
	background-color: #9F999F;
	margin: 0px;
	padding: 0px;
	border-left: 10px solid #606;
	border-bottom: 5px solid #606;
}

.vcenter {
	font-family: sans-serif;
	font-size: 180%; /*28px;*/
	margin: 0px;
	margin-left: 30px;
	padding-top: 25px;
	color: #fff;
}

#loginbox {
	float: right;
	background-color: #F7F7FF;
	margin-right: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
	width: 230px;
	border: 1px solid #CCCCCC;
}

ul#navlist
{
clear: both;
padding: 0px;
margin: 0px;
margin-bottom: 3px;
list-style-type: none;
float: left;
width: 1000px;
color: #fff;
background-color: #606;
margin-left: -15px;
margin-right: -15px;
}

ul#navlist li {
display: inline;
font-family: sans-serif;
font-size: 105%;
}

ul#navlist li a
{
float: left;
color: #fff;
background-color: #606;
padding: 0.2em 2em;
text-decoration: none;
border-right: 1px solid #fff;
}

ul#navlist li a:hover
{
background-color: #404;
color: #fff;
}

#shortlogin {
	width: 100%;
	padding: 8px 5px 0px 15px;
	background-color: #cf9;
	color: #036;
	border-left: 10px solid #036;
}

.textright {
	text-align: right;
}
.ind {
	margin-left: 20px;
}
.nomark {
	list-style-type: none;
}
.nomark li {
	margin-bottom: 15px;
}
.mainbody {
	margin: 0px;
	padding: 0px;
}
.bordered {
	border-collapse: collapse;
}
.bordered td,.bordered th {
	border: 1px solid #000;
	padding: 10px 20px;
}

.headerwrapper, .midwrapper {
	/*margin: 0;*/
	padding: 0;
}

#headerbarlogo {
	margin: 0px;
}
.ind {
	padding-left:10px;
}
.subhdr {
	font-size:120%;
	color: #669;
}
.mainhdr {
	font-size: 170%;
	font-style: italic;
	color: #636;
}

div.headermobilemenu,div#headermenu {
	margin: 0 0 0 0;
	padding: 0;
}

@media only screen and (max-width: 480px) {
	div#header img {
		display:none;
	}
	div#loginbox {
		float: none;
		width: auto;
		margin: 10px 10px 10px 10px;
	}
	div#loginbox table, div#loginbox input {
		width: 100%;
	}
}
