<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         processIsolation="false"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="All Tests">
            <directory>tests</directory>
            <directory>ohm/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
