---
files:
  /etc/ssl/certs/ca-bundle.trust.crt:
    group: root
    mode: "000644"
    owner: root
    source: "https://s3-us-west-2.amazonaws.com/myopenmath-config/ca-bundle.trust.crt"
  /etc/ssl/certs/ca-bundle.crt:
    group: root
    mode: "000644"
    owner: root
    source: "https://s3-us-west-2.amazonaws.com/myopenmath-config/ca-bundle.crt"
