# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html
files:
  "/etc/logrotate.d/ohm_lti_log":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/httpd/lti_log
      {
          nocreate
          missingok
          daily
          compress
          delaycompress
          copytruncate
          dateext
          dateformat .%Y-%m-%d
          rotate 10
      }

