# This generates the swagger.json file for the Lumen framework,
# used by the OHM question API.

files:
  "/tmp/lumenapi_generate_swagger.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/bash -eux

      echo "Generating swagger.json for Lumen API. (OHM question API)"
      echo "Current dir: $PWD"
      cd ohm/lumenapi
      /usr/bin/php /usr/bin/composer.phar swagger
container_commands:
  10_lumenapi_composer_install:
    command: /tmp/lumenapi_generate_swagger.sh
    env:
      COMPOSER_HOME: /tmp/.composer

