# This installs composer dependencies for the Lumen framework,
# used by the OHM question API.

files:
  "/tmp/lumenapi_composer_install.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/bash -eux

      echo "Installing composer dependencies for Lumen API. (OHM question API)"
      echo "Current dir: $PWD"
      cd ohm/lumenapi
      /usr/bin/php /usr/bin/composer.phar install
container_commands:
  10_lumenapi_composer_install:
    command: /tmp/lumenapi_composer_install.sh
    env:
      COMPOSER_HOME: /tmp/.composer

