---
files:
  /var/www/cgi-bin/mimetex.cgi:
    group: root
    mode: "000755"
    owner: root
    source: "https://s3-us-west-2.amazonaws.com/myopenmath-config/mimetex.cgi"
  /var/www/cgi-bin/mimetex64.cgi:
    group: root
    mode: "000755"
    owner: root
    source: "https://s3-us-west-2.amazonaws.com/myopenmath-config/mimetex64.cgi"
