packages:
  yum:
    newrelic-php5: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
files:
  "/tmp/configure_new_relic.sh":
    mode: "000600"
    owner: root
    group: root
    content: |
      #!/bin/bash

      if [ -z $NR_INSTALL_KEY ]; then
          echo "New Relic license key environment variable is not set!"
          exit 1
      fi


      sed -i 's/REPLACE_WITH_REAL_KEY/'"$NR_INSTALL_KEY"'/' /etc/php.d/newrelic.ini
      sed -i 's/^newrelic.appname = .*/newrelic.appname = "'"$NR_APP_NAME"'"/' /etc/php.d/newrelic.ini
container_commands:
  10_install_new_relic_daemon:
    command: newrelic-install install
    env:
      NR_INSTALL_SILENT: true
#      NR_INSTALL_KEY: <See AWS Beanstalk config>
  20_configure_new_relic:
    command: /bin/bash /tmp/configure_new_relic.sh
  30_cleanup:
    command: rm /tmp/configure_new_relic.sh

