files:
  "/tmp/configure_new_relic.sh":
    mode: "000600"
    owner: root
    group: root
    content: |
      #!/bin/bash

      if [ -z $NR_INSTALL_KEY ]; then
          echo "New Relic license key environment variable is not set!"
          exit 1
      fi

      sed -i 's/REPLACE_WITH_REAL_KEY/'"$NR_INSTALL_KEY"'/' /etc/php.d/newrelic.ini
      sed -i 's/^newrelic.appname = .*/newrelic.appname = "'"$NR_APP_NAME"'"/' /etc/php.d/newrelic.ini

      # https://docs.newrelic.com/docs/distributed-tracing/concepts/how-new-relic-distributed-tracing-works/#trace-origin-sampling
      # https://docs.newrelic.com/docs/apm/agents/php-agent/configuration/php-agent-configuration/#inivar-tt-settings
      # https://lumenlearning.atlassian.net/browse/OP-363

      # these values were picked somewhat arbitrarily after looking at Ohm transactions in the UI
      # limit traces to about 4MB
      sed -i 's/^;*newrelic.transaction_tracer.max_segments_web = .*$/newrelic.transaction_tracer.max_segments_web = "10000"/' /etc/php.d/newrelic.ini

      # only include PHP stacktraces for >5s transactions
      sed -i 's/^;*newrelic.transaction_tracer.stack_trace_threshold = .*$/newrelic.transaction_tracer.stack_trace_threshold = "5s"/' /etc/php.d/newrelic.ini

      # only trace >3s transactions
      sed -i 's/^;*newrelic.transaction_tracer.threshold = .*$/newrelic.transaction_tracer.threshold = "3s"/' /etc/php.d/newrelic.ini

      # disable sending logs to newrelic
      sed -i 's/^;*newrelic.application_logging.enabled = .*$/newrelic.application_logging.enabled = "false"/' /etc/php.d/newrelic.ini

      # disable sending code level metrics to newrelic
      sed -i 's/^;*newrelic.code_level_metrics.enabled = .*$/newrelic.code_level_metrics.enabled = "false"/' /etc/php.d/newrelic.ini

container_commands:
  10_download_new_relic_tgz:
    command: wget https://download.newrelic.com/php_agent/release/newrelic-php5-10.16.0.5-linux.tar.gz -P /tmp
  20_validate_new_relic_tgz:
    command: echo "69fdce3f7633623fa0ec4d956fb03b1b8ab76960d607c07eb539b37d6c195d88 /tmp/newrelic-php5-10.16.0.5-linux.tar.gz" | sha256sum -c
  30_extract_new_relic_tgz:
    command: cd /opt && tar xvfz /tmp/newrelic-php5-10.16.0.5-linux.tar.gz
  40_install_new_relic_daemon:
    command: cd /opt/newrelic-php5-10.16.0.5-linux && ./newrelic-install install
    env:
      NR_INSTALL_SILENT: true
#      NR_INSTALL_KEY: <See AWS Beanstalk config>
  50_configure_new_relic:
    command: /bin/bash /tmp/configure_new_relic.sh
  60_cleanup:
    command: rm /tmp/configure_new_relic.sh && rm /tmp/newrelic-php5-10.16.0.5-linux.tar.gz
