files:
  "/tmp/ohm_init_user.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/bash -eux

      echo "Generating .env file for setupdb.php"
      echo "Current dir: $PWD"
      echo -e "foo=bar\nUSERNAME=${USERNAME}\nbar=baz" > .env

container_commands:
  10_setup_db:
    env:
      CLI: true
    command:
      - /tmp/ohm_init_user.sh
      - "php setupdb.php"
