files:
  "/tmp/ohm_create_dotenv.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/bash -ux

      echo "Generating .env file for setupdb.php"
      echo "Current dir: $PWD"
      echo -e "foo=bar\nUSERNAME=${USERNAME}\nbar=baz" > .env
      echo ".env file contents:"
      cat .env

container_commands:
  10_create_dotenv:
    command: /tmp/ohm_create_dotenv.sh
  20_setup_db:
    env:
      CLI: true
    command: "php setupdb.php"