files:
  "/etc/awslogs/config/question_api_log.conf":
    mode: "000600"
    owner: webapp
    group: webapp
    content: |
      [/var/log/httpd/question_api.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/httpd/question_api.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/httpd/question_api-*.log

