body {
    /* Overriding Lux */
    background-color: #fff;
}

.desmos-header {
    padding: 1em 0;
}

.desmos-header h1 {
    margin-bottom: 0;
}

.desmos-header img {
    vertical-align: middle;
}

.desmos-header p {
    margin-left: 32px;
}

.desmos-steps {
    display: flex; 
    max-height: 600px;
    width: 1220px;
}

/* Step Navigation */
.desmos-steps .step-navigation {
    border: 1px solid #dadada;
    border-right: none;
    width: 35%;
}

.desmos-steps ol {
    padding-left: 0;
}

.desmos-steps .step-li  {
    background-color: #f2f2f2;
    list-style: decimal inside;
    margin: 2px 0;
    padding: .5em;
    position: relative;
}

.desmos-steps .step-li:hover {
    background-color: #dde3e9;
    cursor: pointer;
}

.desmos-steps .step-li[aria-selected=true] {
    background-color: silver;
}

.desmos-steps .step-li.is-selected {
    background-color: #c8e4ff;
}

/* Step Display */
.desmos-steps .step-items {
    border: 1px #dadada solid;
    border-radius: 0;
    min-height: 600px;
    width: 65%;
    min-width: 610px;
    overflow: hidden;
} 

.desmos-steps .step-items textarea {
    border: none;
    border-radius: 0;
    min-height: 100%;
    min-width: 100%;
} 


/* DESMOS TEACHER VIEW */
.desmos-steps .step-naviation.teacher-view {
    overflow: scroll; 
}

/* Overwriting Lux */
.desmos input {
	padding: .25em .5em; 
	width: 32em;
}

.desmos .--input-icon {
	margin-top: .25em;
	padding: .5em, 1em;
	width: 10em;
}
/* End Lux overwrite */

.desmos .form-group {
    display: flex;
    padding-bottom: 1em;
}

.desmos .form-group > div:first-child {
	margin-right: 2em;
}

.desmos .teacher-view {
    overflow-y: scroll;
}

.desmos-steps .step-controls {
    background: #f2f2f2;
    border-bottom: #dadada solid 1px;
    padding: 1.5em;
}

.desmos-steps .step-li[draggable=true].is-selected {
    opacity: 0.4;
}

.desmos-steps .step-li.is-over {
    border-bottom: 2px solid #1e74d1;
} 

.desmos-steps .step-li input {
    margin: 0 16px;
}

.desmos-steps button {
    padding: 10px;
    width: 40px;
}

.desmos-steps button svg {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.desmos-steps .move-trigger {
    cursor: move;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;  
}


/* DESMOS STUDENT VIEW */
.desmos-student-view {
    display: flex;
    width: 1000px;
}

.desmos-student-view .steps-navigation {
    border: none;
    margin-right: 2em;
    width: 30%; 
}

.desmos-student-view .step-box li {
    list-style: decimal inside;
    padding: 1em;
}

.desmos-student-view .step-items {
    border: #dadada 1px solid;
    border-radius: 4px;
    padding: 2em 2em 0 2em;
}

/* Overide button style from imasscore.css */
.desmos-nav-btns .button {
    background-color: #fff; 
    margin-top: 1em;
    padding: .75em 2em;
}

.desmos-nav-btns .button:hover {
    background-color: #F9FAFB;
}
