/* imascore.css OVERRIDES */
.lux-component button {
	margin: 0;
}

.lux-component input[class^="icon-"],
.lux-component input[class*=" icon-"] {
	font-family: inherit !important;
	speak: unset;
}
/* END imascore.css OVERRIDES */

/* LUX TWEAKS */
.lux-component .button {
	min-width: 80px;
}
.lux-component .button-group .button + .button {
	margin-left: -4px !important; /* Important flag necessary b/c sometimes Lux loads after this file */
}
.lux-component .controls + .controls .form-input {
	width: 8.5em; /* controls width of datepicker inputs */
}
.lux-component .step-li .form-input {
	display: inline-block;
	width: calc(100% - 50px);
}

/* END LUX TWEAKS */

/* SHARED DESMOS STYLES */
.desmos-heading {
	align-items: center;
	display: flex;
	font-size: 1.5em;
}

.desmos-heading svg {
	height: 24px;
	width: 24px;
}

.desmos-steps {
	box-sizing: border-box;
	display: flex;
	height: 600px;
	position: relative;
	width: 100%;
}

/* Step Navigation */
.desmos-steps .steps-navigation {
	border: 1px solid #dadada;
	border-right: none;
	min-width: 256px;
	width: 30%;
}

.steps-navigation .step-list {
	margin-top: 0;
	padding-left: 0;
	/* Makes step list height equal to parent container so list can overflow. */
	/* 533px is approx. height of the step box minus the height of the box around the add button */
	height: 533px;
	overflow-y: scroll;
}

.step-li {
	background-color: #f2f2f2;
	cursor: pointer;
	list-style: decimal inside;
	padding: 0.5em;
	position: relative;
}

.step-li:hover {
	background-color: #dde3e9;
}

.step-li[aria-selected="true"] {
	background-color: silver;
}

.step-li.is-selected {
	background-color: #c8e4ff;
}

/* Step Display */
.step-items {
	border: 1px #dadada solid;
	border-radius: 0;
	box-sizing: border-box;
	min-height: 600px;
	min-width: 610px;
	overflow: hidden;
	width: 70%;
}

.step-items textarea {
	border: none;
	border-radius: 0;
	height: 510px;
	min-height: 100%;
	min-width: 100%;
}

.js-desmos,
.desmos-fig {
	height: 400px;
	margin: 0;
	padding: 0;
	width: 100%;
}

#editdesmos.desmos-fig,
#editdesmos.js-desmos {
	width: 100%;
}

#import + .button-wrapper,
#editdesmos + .button-wrapper {
	text-align: right;
}

/* Overriding desmos stylesheet to fix button icon alignment issues  */
#editdesmos [class*="dcg-icon-"] {
	line-height: 38px;
}

.desmos-nav-btns {
	margin-top: 16px;
}

@media (min-width: 1024px) {
	.desmos-nav-btns {
		margin-top: 32px;
	}
}
/* END SHARED DESMOS STYLES */

/* DESMOS TEACHER VIEW */
/* TinyMCE overrides */
.mce-window-head {
	background-color: #336699;
}

.mce-window-head .mce-title {
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
}

.mce-window-head button.mce-close {
	background: transparent !important;
	opacity: 0.8;
	transition: opacity 0.1s;
}

.mce-window-head button.mce-close:hover,
.mce-window-head button.mce-close:focus {
	opacity: 1;
}

.mce-window-head button.mce-close i {
	color: white;
}

.step-items .mce-panel {
	border: 0;
	padding-bottom: 8px;
}

.mce-edit-area {
	padding: 8px;
}

.step-items .mce-edit-area {
	min-height: 500px;
}

.desmos .controls .mce-tinymce {
	margin-top: 0.4em;
	max-width: 1220px;
}

.mce-i-desmos {
	background: url("../ohm/img/desmos.png") no-repeat;
	background-size: 16px 16px;
}

#tinymce .desmos-edit-button,
#tinymce .js-desmos {
	background-image: url("/tinymce4/plugins/desmos/img/ed_edit_desmos_overlay.png");
	cursor: pointer;
	display: block;
	height: 36px;
	width: 190px;
}
/* End TinyMCE overrides */

.desmos .teacher-view {
	position: relative;
}

.desmos .form-group {
	display: flex;
	max-width: 1220px;
}

.desmos .controls:first-of-type {
	flex-grow: 1;
	max-width: 400px;
}

.desmos .controls + .controls {
	margin-left: 16px;
}

.step-navigation.teacher-view {
	position: relative;
}

.step-controls {
	background: #f2f2f2;
	border-bottom: #dadada solid 1px;
	position: relative;
	z-index: 1;
}

.desmos-steps button:not(.button):hover {
	background-color: transparent;
}

.teacher-view .step-li {
	border-bottom: 2px solid transparent;
	padding-left: 40px;
}

.teacher-view .step-li:first-child {
	border-top: 2px solid transparent;
}

.step-li[aria-grabbed="true"].is-selected {
	opacity: 0.4;
}

.step-li.is-target {
	border-bottom-color: #1e74d1;
}

.step-li:first-child:not(.is-target).is-over {
	border-top-color: #1e74d1;
}

.step-li button:focus {
	background-color: unset;
}

.step-li button svg {
	display: block;
	margin: auto;
	opacity: 0.5;
	transition: opacity 0.1s;
}

.step-li button:hover svg,
.step-li button:focus svg {
	opacity: 1;
}

.delete-trigger,
.move-trigger {
	bottom: 0;
	position: absolute;
	top: 0;
}

.delete-trigger {
	cursor: pointer;
	padding: 10px;
	min-height: 100%;
	right: 0;
	width: 40px;
}

.delete-trigger svg {
	height: 16px;
	width: 16px;
}

.move-trigger {
	left: 0;
}

.move-trigger button {
	cursor: move;
	min-height: 100%;
	margin: auto;
	text-align: center;
	width: 40px;
}

.move-trigger button[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

.move-trigger svg {
	height: 14px;
	width: 5px;
}

#desmos_save_buttons {
	position: relative;
}

#desmos_save_status {
	margin-left: 0.5em;
	position: absolute;
	top: 50%;
}

.desmos_save_status_saving {
	color: #606060;
}

.desmos_save_status_success {
	color: #1e74d1;
}

.desmos_save_status_failed {
	color: #ff2222;
}

.desmos #import {
	clear: both;
}
/* END DESMOS TEACHER VIEW */

/* DESMOS TEACHER PREVIEW */
#desmos_preview_container {
	background-color: #f9fafb;
	margin: 0;
	padding: 1em;
}

#desmos_preview_warning {
	background-color: #ffffff;
	border: 2px #facaa6 solid;
	border-radius: 5px;
	margin: 0 0 0 1em;
	padding: 0.75em 1em 0.75em 0.75em;
}

#desmos_preview_warning_image {
	margin-right: 0.5em;
	vertical-align: middle;
}

#desmos_preview_content {
	background-color: #ffffff;
	border: 2px solid #e2e7ea;
	border-radius: 5px;
	margin: 0;
	padding: 0 1em 1em 1em;
}
/* END DESMOS TEACHER PREVIEW */

/* DESMOS STUDENT VIEW */
.desmos-header p:empty,
.desmos-student-view .step-item p:empty {
	/* TinyMCE sometimes enters in blank p tags and this makes them less likely to be apparent */
	margin: 0;
	padding: 0;
}

.desmos-student-view .step-items {
	border: #dadada 1px solid;
	border-radius: 4px;
	padding: 0.75em;
}
/* END DESMOS STUDENT VIEW */

/* ALL MEDIA QUERIES */
@media (max-width: 800px) {
	.desmos .form-group {
		display: block;
	}
	.desmos .form-group .controls + .controls {
		display: inline-block;
		margin: 16px 16px 0 0;
	}
	#desmos_preview_warning {
		display: block;
		margin: 8px 0 0 0;
	}
}

@media (max-width: 1023px) {
	.desmos-student-view {
		margin-top: 0;
	}

	.desmos-student-view #mobile_nav {
		display: flex;
		margin-bottom: 8px;
	}

	.desmos-student-view .step-nav {
		flex: 1 0 auto;
	}

	.desmos-student-view #step_list {
		display: none;
	}

	.desmos-student-view .steps-navigation select {
		-webkit-appearance: menulist; /* Overriding lux */
		appearance: menulist; /* Overriding lux */
		margin-right: 8px;
		max-width: calc(100% - 96px);
	}

	.desmos-student-view .steps-navigation .button {
		min-width: unset;
		padding: 8px;
	}

	.desmos-student-view .steps-navigation svg {
		display: inline-block;
		height: 24px;
		opacity: 0.5;
		pointer-events: none;
		transition: opacity 0.1s;
		vertical-align: middle;
		width: 24px;
	}

	.desmos-student-view #mobile_nav button:hover svg,
	.desmos-student-view #mobile_nav button:focus svg {
		opacity: 1;
	}

	.desmos-student-view .step-items {
		min-width: 100%;
		width: 100%;
	}
}

@media (min-height: 800px) {
	.js-desmos,
	.desmos-fig {
		height: 600px;
	}
}

@media (min-width: 1024px) {
	.desmos-student-view {
		display: flex;
		width: 100%;
	}

	.desmos-student-view .steps-navigation {
		border: none;
		margin-right: 1.5em;
		max-width: 360px;
		width: 30%;
	}

	.desmos-student-view .steps-details {
		min-width: 640px;
		width: 70%;
	}

	.desmos-student-view #mobile_nav {
		display: none;
	}

	.desmos-student-view .step-li {
		list-style: decimal inside;
		margin-bottom: 1px;
		padding: 1em;
	}

	.desmos-student-view .step-items {
		min-width: 256px;
		padding: 2em 2em 0 2em;
		width: 100%;
	}
}
