/* DESMOS */
/* OVERWRITING LUX STYLES */

.desmos .button {
	padding: .5em 1em; 
}

.desmos input {
	padding: .25em .5em; 
	width: 32em;
}

.desmos .--input-icon {
	margin-top: .25em;
	width: 10em;
	padding: .5em, 1em;
}
/* *** */

.desmos .form-group {
	display: flex;
}

.desmos .form-group > div:first-child {
	margin-right: 2em;
}