
/* Overriding Lux button styles */
.button {
  font-weight: 300;
  border-radius: 3px;
  min-width: 80px;
  padding: 8px 16px;
}

.button.--button-primary {
    background:#1d71cb;
    background: linear-gradient(0deg, rgba(29,112,203,1) 0%, rgba(29,115,208,1) 90%, rgba(46,125,211,1) 90%);
    border: 1px solid #69717A;
    color: #fff;
}

.button.--button-primary:hover {
    background:#0059ba;
    background: linear-gradient(0deg, rgba(0,89,186,1) 0%, rgba(0,89,186,1) 90%, rgba(20,102,191,1) 90%);
    border: 1px solid #004C9F;
  }

.button.--button-secondary {
    background: #f2f3f4;
    background: linear-gradient(0deg, rgba(242,243,244,1) 0%, rgba(255,255,255,1) 100%);
    border: 1px solid #C4CDD5;
    margin-left: 0;
}

.button.--button-secondary:hover {
    background: #e6ebf0;
    background: linear-gradient(0deg, rgba(230,235,240,1) 0%, rgba(245,246,247,1) 100%);
    border: 1px solid #C4CDD5;
}
.button-group .button:not(:first-child) {
    margin-left: -5px;
}
/* End overriding Lux button styles */

/* Overwriting Lux */
.desmos input {
	padding: .25em .5em; 
}

.desmos .form-group input {
    width: 32em;
}

.desmos .form-group .--input-icon {
	padding: .5em, 1em;
	width: 10em;
}

.desmos .controls + .controls {
    margin-left: 1em;
    margin-top: 0; /* overriding lux */
}
/* End Lux overwrite */
