.ohm-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=50);
      z-index: 99;
  }
  .ohm-modal {
    position:absolute;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
      z-index: 100;
  }
  .ohm-modal-content {
    border-radius:8px;
    background:#fff;
      height: 100%;
  }
  .ohm-modal-close {
    position:absolute;
    background:url(../ohm/img/close.png) 0 0 no-repeat;
    width:25px;
    height:25px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
  }