.ohm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=50);
  z-index: 99;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.ohm-modal {
  display: flex;
  align-items: center;
  justify-content: center; 
  z-index: 100;
  position: absolute;
}

.js-confirm-modal {
  background: #fff;
}

.ohm-modal-header,
.ohm-modal-body,
.ohm-modal-footer {
  padding: 8px 16px;
}

.ohm-modal-content {
  height: 300px; 
  width: auto;
}

.ohm-modal-header {
  background: #336699;
  color: #fff;
  padding: 8px 16px; 
}

.ohm-modal-body {
  height: 160px;
}

.ohm-modal-footer {
  padding: 16px; 
  display: flex;
  justify-content: flex-end;
}

.ohm-modal-footer button:first-child {
  margin-right: 8px;
}
