
h1:before {
    content: url("<?php echo $CFG['CPS']['itemicons']['desmos']; ?>");
}

/* DESMOS */
/* OVERWRITING LUX STYLES */

.desmos .button {
	padding: .5em 1em; 
}

.desmos input {
	padding: .25em .5em; 
	width: 32em;
}

.desmos .--input-icon {
	margin-top: .25em;
	width: 10em;
	padding: .5em, 1em;
}

/* End lux overwrite */

.desmos .form-group {
    display: flex;
    padding-bottom: 1em;
}

.desmos .form-group > div:first-child {
	margin-right: 2em;
}

/* DESMOS STEPS */
.desmos.desmos-steps {
    display: flex; 
}

.desmos .steps-left {
    border: 1px solid black;
    border-right: none;
    width: 30%; 
    min-width: 30vw;
}

.desmos .steps-right {
    width: 70%;
}

/* DESMOS CREATE STEPS LIST */
.desmos .step-controls {
    background: gray; /*find right gray  */
    padding: 1.5em;
}

.desmos .step-li  {
    margin-bottom: 1px;
    padding: .5em;
    list-style: decimal inside;
}
.desmos .step-li input {
    max-width: 80%;
}

/* DESMOS VIEW STEPS LIST */
.desmos .step-li.view {
    
}

.desmos .step-li:hover{
    background-color: #4bb6e8;
    cursor: pointer;
}
.desmos .step-li.selected {
    background-color: #88bbdd;
}

/* Temporarily, need to add icon */
.desmos .step-li button {
    font-size: 22px;
    vertical-align: middle;
    text-align: center;
    margin-left: .5em;
    padding: 0 .5em;
    width: 10%;
}

/* DESMOS STEP BODY */
.desmos .step-items {
    min-width:610px;
    min-height: 600px;
    border: 1px #000 solid;
    padding:0 10px;
} 
.desmos .step-items textarea {
    min-height: 100%;
    min-width: 100%;
} 