
body {
    background-color: white;
}
/* h1:before {
    content: url("<?php echo $CFG['CPS']['itemicons']['desmos']; ?>");
} */

.desmos-header {
    padding: 1em 0;
}

.desmos-header img {
    vertical-align: middle;
}

/* DESMOS TEACHER VIEW */
/* OVERWRITING LUX STYLES */

.desmos input {
	padding: .25em .5em; 
	width: 32em;
}

.desmos .--input-icon {
	margin-top: .25em;
	width: 10em;
	padding: .5em, 1em;
}

/* OVERWRITING SELECT MENU STYLES */
.desmos select {
    width: 40px; 
    padding: 4px;
}

/* End lux overwrite */

.desmos ul {
    padding: 0;
}
.desmos .form-group {
    display: flex;
    padding-bottom: 1em;
}

.desmos .form-group > div:first-child {
	margin-right: 2em;
}

/* DESMOS STEPS */
.desmos.desmos-steps {
    display: flex; 
    max-height: 600px;
    width: 1220px;
}

.desmos .steps-left {
    border: 1px solid #dadada;
    border-right: none;
    width: 35%;
    overflow: scroll; 
}

.desmos .steps-left ul {
    overflow: scroll; 
    height: 600px;
}

.desmos .steps-right {
    width: 65%;
}

/* DESMOS CREATE STEPS LIST */
.desmos .step-controls {
    background: #f2f2f2;
    border-bottom: #dadada solid 1px;
    padding: 1.5em;
}

.desmos .step-box {
    overflow: scroll;
}
.desmos .step-li  {
    margin: 2px 0;
    padding: .5em;
    background-color: #f2f2f2;
    /* list-style: decimal inside; */
}
.desmos .step-li input {
    margin: 0 16px;
    width: 298px;
}

.desmos .step-li:hover{
    background-color: #dde3e9;
    cursor: pointer;
}
.desmos .step-li.selected {
    background-color: #c8e4ff;
}

.desmos .step-li button {
    width: 40px;
    padding: 10px;
}

.step-li button svg {
    vertical-align: middle;
}

/* DESMOS BODY */
.desmos .step-items {
    min-width: 610px;
    min-height: 600px;
    border-radius: 0;
    border: 1px #dadada solid;
} 
.desmos .step-items textarea {
    min-height: 100%;
    min-width: 100%;
    border: none;
    border-radius: 0;
} 

/* DESMOS STUDENT VIEW */

.desmos-header p {
    margin-left: 32px;
}

.desmos-header h1 {
    margin-bottom: 0;
}

.desmos-student-view {
    display: flex;
    width: 1000px;
}

.desmos-student-view .steps-left {
    margin-right: 2em;
    width: 30%; 
    border: none;
}

.desmos-student-view .steps-right {
    width: 70%;
}

.desmos-student-view .step-box li {
    padding: 1em;
    list-style: decimal inside;
}
.desmos-student-view .step-items {
    border: #dadada 1px solid;
    border-radius: 4px;
    padding: 2em;
    padding-bottom: 0;
}

/* Overide button style from imasscore.css */
.desmos-nav-btns .button {
    padding: .75em 2em;
    background-color: #fff; 
    margin-top: 1em;
}

.desmos-nav-btns .button:hover {
    background-color: rgb(249,250,251);
}