a:visited {
	color: #ccc !important;
}
a:hover {
	color: #ccc !important;
}
div.lumensignupforms button.button:hover{
	background-color: #FFD600;
	color: #000;
	cursor: pointer;
}
div.lumensignupforms{
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
div.lumensignupforms form{
	display: flex;
	flex-direction: column;
	width: 400px;
}
 p.directions{
	margin-bottom: 10px;
  align-self: center;
}

input.form {
  border-radius: 3%;
  border: 1px solid #aaa;
	font-size: 16px;
	padding-left: 10px;
}
select.lumenform.form, input.lumenform.form{
  width: 375px;
  align-self: center;
	height: 45px;
}
label.form{
  margin: 5px;
	margin-left: 10px;
}

div.lumensignupforms button.button{
	margin-top: 5px;
	background-color: #155192;
	height: 45px;
	color: #fff;
	font-size: 16px;
	width: 50%;
	font-weight: bold;
	border: 1px solid #104074;
  align-self: center;
}
div.lumensignupforms button.button:hover{
	background-color: #FFD600;
	color: #000;
	cursor: pointer;
}
@media only screen and (max-width: 480px) {
	div.lumensignupforms form{
		width: 300px;
	}
	select.lumenform.form, input.lumenform.form{
	  width: 300px;
		height: 35px;
	}
}
