@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);

html, body {
  color: #fff;
  font-family: "Open Sans", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  height: 100%;
}
h1, p {
  text-shadow: 0 0 10px #000;
}
.bg {
  background-image: url(./img/lightbulb-bg.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.logo {
  height: 100px;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.maintenance-block {
  color: #fff;
  background-color: rgb(0, 0, 0); /* fallback */
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em 2em;
  width: 100%;
  box-shadow: 0 0 0.5em #111;
  text-align: center;
}
.block-head {
  margin: 1.5em 0 1em;
}
.block-text {
  margin: 2em 0;
  font-size: 1.2em;
}
