<?php
//IMathAS Math Config File.  Adjust settings here!

$imasroot = "/ohm";
$AWSbucket = null;
//$AWSkey = 'api_key_goes_here';
//$AWSsecret = 'api_secret_goes_here';

require('ohm.php');
//require('wamap.php');
//require('myopenmath.php');

//database access settings
$dbserver = "localhost";
$dbname = "myopenmath";
$dbusername = "username";
$dbpassword = "password";

//error reporting level.  Set to 0 for production servers.
error_reporting(E_ALL & ~E_NOTICE);

$installname = "Lumen Ohm Local";

//zendesk stuff
$CFG['GEN']['zdapikey'] = 'api_key_goes_here';
$CFG['GEN']['zdurl'] = 'api_url_goes_here';

