<?php
//Local Config File.  Adjust settings here!

//error reporting level.  Set to 0 for production servers.
error_reporting(E_ALL & ~E_NOTICE);

require('ohm.php');
//require('wamap.php');
//require('myopenmath.php');

$installname = "Lumen OHM Local";

// For local file uploads
unset($AWSkey);

//$imasroot = "/ohm";

// Static assets
$CFG['static_server'] = 'http://localhost/';

// Livepoll / pandoc server
$CFG['GEN']['pandocserver'] = getenv('PANDOC_BASE_URL') ?: 'http://localhost:8081';
$CFG['GEN']['livepollserver'] = getenv('LIVEPOLL_SERVER_HOSTNAME') ?: 'host.docker.internal';
$CFG['GEN']['livepollpassword'] = getenv('LIVEPOLL_SERVER_PASSWORD') ?: 'testing';

// AWS S3 bucket
//$AWSbucket = null;
//$AWSkey = 'api_key_goes_here';
//$AWSsecret = 'api_secret_goes_here';

//database access settings
$dbserver = getenv('DB_SERVER') ?: 'db';
$dbname = getenv('DB_NAME') ?: 'ohm';
$dbusername = getenv('DB_USERNAME') ?: 'ohm';
$dbpassword = getenv('DB_PASSWORD') ?: 'ohm';
$dbcharset = getenv('DB_CHARSET') ?: 'latin1'; // Production uses "latin1"

// Database - read replica (env vars used in /ohm/includes/ReadReplicaDb.php)
putenv('REPLICA_DB_SERVER=' . $dbserver);
putenv('REPLICA_DB_USERNAME=' . $dbusername);
putenv('REPLICA_DB_PASSWORD=' . $dbpassword);
putenv('REPLICA_DB_NAME=' . $dbname);
putenv('REPLICA_DB_CHARSET=' . $dbcharset);

// Health check auth code
$GLOBALS['health_check']['auth_code'] = 'authcode';

// Lumen student payment authorization API
$GLOBALS['student_pay_api']['enabled'] = false;
$GLOBALS['student_pay_api']['base_url'] = 'http://127.0.0.1:5000/studentpay_api/v1'; // No trailing slash!
$GLOBALS['student_pay_api']['timeout'] = 5;
$GLOBALS['student_pay_api']['jwt_secret'] = 'secret_goes_here';
$GLOBALS['student_pay_api']['trial_period_human'] = "14 days";
$GLOBALS['student_pay_api']['trial_extension_period_human'] = "48 hours";
$GLOBALS['student_pay_api']['access_code_min_length'] = 7;
$GLOBALS['student_pay_api']['access_code_max_length'] = 10;
$GLOBALS['student_pay_api']['trial_min_reminder_time_secs'] = 60 * 60 * 24; // 24 hour
$GLOBALS['student_pay_api']['stripe_api_key'] = 'api_key_here';
$GLOBALS['student_pay_api']['direct_pay_component_url'] = '../../../lumen-components/build/vanilla_js/direct_pay_components.js';
$GLOBALS['student_pay_api']['debug'] = true;

//$CFG['coursebrowser'] = 'coursebrowserprops.js';
//$CFG['coursebrowsermsg'] = 'Copy a template course';
//$CFG['assess2-use-vue-dev'] = true;
//$CFG['assess2-use-vue-dev-address'] = 'http://localhost:8080'; // no trailing slash

// Enable FullStory
putenv('FULLSTORY_ENABLED=false');

// Current supported values: "zendesk", "hubspot"
$CFG['GEN']['SUPPORT_TICKET_SERVICE'] = getenv('SUPPORT_TICKET_SERVICE') ?: 'hubspot';

//zendesk stuff
$CFG['GEN']['zdapikey'] = getenv('ZENDESK_API_KEY') ?? 'api_key_goes_here';
$CFG['GEN']['zdurl'] = getenv('ZENDESK_API_URL') ?? 'api_url_goes_here';
$CFG['GEN']['zduser'] = getenv('ZENDESK_API_USER') ?? 'ohmsupport@lumenlearning.com';

// HubSpot
$CFG['GEN']['HUBSPOT_API_DEBUG'] = 'true' == getenv('HUBSPOT_API_DEBUG');
$CFG['GEN']['HUBSPOT_API_DOMAIN'] = 'api.hubapi.com';
$CFG['GEN']['HUBSPOT_ACCESS_TOKEN'] = 'token_goes_here';
// This is the "hs_pipeline_stage" ID for new tickets.
// View an existing ticket here: https://api.hubapi.com/crm/v3/objects/tickets/{{ticketId}}
//   to get a valid "hs_pipeline_stage" for this config variable.
// As of April 24, 2024, in our sandbox account, this ID is 161552755.
$CFG['GEN']['HUBSPOT_PIPELINE_STAGE_ID'] = '161552755';

// Create a support ticket for every question bug reported.
$CFG['GEN']['ENABLE_QUESTION_BUG_TICKETS'] = 'true' == getenv('ENABLE_QUESTION_BUG_TICKETS');

// Yellow "Help" button page
$CFG['GEN']['FACULTY_USER_GUIDE_URL'] = getenv('FACULTY_USER_GUIDE_URL') ?? 'https://localhost/help.html';

/*
 * Handle CORS stuff in local development.
 * This is INSECURE and SHOULD NOT BE USED IN PRODUCTION.
 */
$allowedCorsOrigins = [
    'https://localhost', // Apache serving OHM.
    'http://localhost:8080' // vue-cli-service serving assessment player frontend.
];
$httpOrigin = $_SERVER['HTTP_ORIGIN'] ?? null;
if (!empty($httpOrigin) && in_array($httpOrigin, $allowedCorsOrigins)) {
    header("Access-Control-Allow-Origin: $httpOrigin", true);
    header('Access-Control-Allow-Credentials: true', true);
}

/*
 * Handle CORS stuff for ngrok
 */
$allowedCorsDomains = [
    'ngrok.io'
];
foreach ($allowedCorsDomains as $allowedCorsDomain) {
    if (!empty($httpOrigin) && 0 != strpos($httpOrigin, $allowedCorsDomain)) {
        header("Access-Control-Allow-Origin: $httpOrigin", true);
        header('Access-Control-Allow-Credentials: true', true);
    }
}
