/*General settings - fonts, overall page background, etc*/
body {
	font-family: "Georgia", "Times New Roman", Times, serif;
	font-size: 95%;
	background: #000;
	color: #fff;
	margin-top: 0px;
}

/*Link styles*/
a:link {
	text-decoration: none;
	color: #ffeeee;
}
a:visited {
	text-decoration: none;
	color: #ffeeee;
}
a:hover {
	text-decoration: underline;
	color: #ffeeee;
}

/*Container for course items*/
div.item {
	/*border: 1px solid #000;*/
	/*background-color: #cccccc;
	color: #000;*/
}
div.item a {
	/*color: #000;*/
}

/*Container for editor*/
div.editor {
	border: 1px solid #000;
}

/*Default block container*/
div.block, div.blockitems div.blockitems div.block {
	border: 1px solid #000;
	background-color: #640000;
}

/*Default block item container*/
div.blockitems, div.blockitems div.blockitems div.blockitems {
	border: 1px solid #000;
	border-top: 0px;
	background-color: #333;
	color: #fff;
}
div.blockitems a {
	/*color: #000;*/
}
/*Second level default block container*/
div.blockitems div.block {
	background-color: #320000;
	color: #fff;
}
div.blockitems div.block a {
	color: #fff;
}

/*Second level default block item container */
div.blockitems div.blockitems {
	background-color: #666;
	/*color: #000;*/
}

/*Icons*/
div.icon {
	color:#00d;	
	border: 1px solid #00f;
	font-weight: bolder;
}

/*Breadcrumb bar*/
div.breadcrumb {
	margin-left: -10px;
	margin-right: -10px;
	border: 0px;	
	background-color: #640000;
	padding: 10px 10px 5px 10px;
	min-height: 20px;
}
#headerlogo {
	background: #320000;
	right:0px; 
	top: 0px; 
	width: 60px;
	height: 35px;
	padding: 0px;
	color: #000;
	cursor: pointer;
}
#headerlogo img {
	visibility: hidden;
}

/*Control panels*/
div.cp {
	border: 1px solid #000;
	background-color: #999;
	color: #000;
}
div.cpmid {
	border: 1px solid #000;
	background-color: #999;
	color: #000;
}

div.cp a {
	color: #000;
}
div.cpmid a {
	color: #000;
}


table thead th {
	font-weight:bold;
	cursor:pointer;
}

/*Tables */
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
	border-bottom: 2px solid #00f;
	background-color: #eef;
	color: #000;
}
tr.even, tr.even td {
	background-color: #fff;
	color: #000;	
}
tr.odd, tr.odd td {
	background-color: #ccc;
	color: #000;	
}
table.gb tr.even, tr.even td a {
	color: #000;
}
table.gb tr.odd, tr.odd td a {
	color: #000;
}
tr.bordered  td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
tr.highlight, tr.highlight td {
	background-color: #999;
}
tr.grid td {
	border: 1px solid #000;
}
table.gbl td.locked, table.gbl th.locked {
	border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
	background-color: #eef;
}
table.gb .cat0 {
	background-color: #ddf;
}
table.gb .cat1 {
	background-color: #dfd;
}
table.gb .cat2 {
	background-color: #fdd;
}
table.gb .cat3 {
	background-color: #dff;
}
table.gb .cat4 {
	background-color: #ffd;
}
table.gb .cat5 {
	background-color: #fdf;
}
table.gb .cat6 {
	background-color: #aaf;
}
table.gb .cat7 {
	background-color: #afa;
}
table.gb .cat8 {
	background-color: #faa;
}
table.gb .cat9 {
	background-color: #aff;
}
.cattothdr {
	font-variant: small-caps
}

/*Fake look of links for Javascript onclicks*/
span.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}


/*Containers for instructor leftbar, main content*/
#leftcontent {
		/*background: #ccc;
		border:1px solid #000;
		color:#000;*/
}

#leftcontent a {
		/*color: #000;*/
}

#centercontent {
		background:#000;
}
div.ddmenu {
	padding: 5px;
	background: #ddd;
	color: #000;
}
div.ddmenu a {
	color: #333;
}

table.forum {
	background-color: #666;	
}
table.forum th {
	background-color: #640000;
	color: #fff;
}

div.intro {
	border: 1px solid #640000;
	background-color: #ccc;
	color: #000;
}
div.question {
	background-color: #ccc;
	border: 1px solid #333;
	color: #000;
}

div.review { /*info bar*/
	margin-top: -6px;
	background-color:  #640000;	
	border: 1px solid #640000;
	color: #fff;
}

div.navbar {
	background: #999;
}
div.navbar a {
	color: #640000;;
}
div.curquestion {
color: #000;
}
div.inactive {
background: #fff;
color: #000;
}

div.seqqinfocur {
color: #000;
}
div.seqqinfocur span.current{
color: #000;
}
div.seqqinfoavail {

}
div.seqqinfoinactive {

}
div.todoquestion, div.todoquestion div.inactive {
	background-color: #ccc; 
	border: 0px; 
}
