/*General settings - fonts, overall page background, etc*/
body {
	font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	font-size: 95%;
	background: #000;
	color: #fff;
}

/*Link styles*/
a:link {
	text-decoration: none;
	color: #ffeedd;
}
a:visited {
	text-decoration: none;
	color: #ffeedd;
}
a:hover {
	text-decoration: underline;
	color: #ffeedd;
}

/*Container for course items*/
div.item {
	border: 1px solid #000;
	background-color: #ffac0c;
	color: #000;
}
div.item a {
	color: #000;
}

/*Container for editor*/
div.editor {
	border: 1px solid #000;
}

/*Default block container*/
div.block, div.blockitems div.blockitems div.block {
	border: 1px solid #000;
	background-color: #da7e00;
}

/*Default block item container*/
div.blockitems, div.blockitems div.blockitems div.blockitems {
	border: 1px solid #000;
	border-top: 0px;
	background-color: #ffe090;
	color: #000;
}
div.blockitems a {
	color: #000;
}
/*Second level default block container*/
div.blockitems div.block {
	background-color: #b5ff3c;
}

/*Second level default block item container */
div.blockitems div.blockitems {
	background-color: #efffce;
	color: #000;
}

/*Icons*/
div.icon {
	color:#00d;	
	border: 1px solid #00f;
	font-weight: bolder;
}

/*Breadcrumb bar*/
div.breadcrumb {
	border: 1px solid #000;	
	background-color: #ffac0c;
}

/*Control panels*/
div.cp {
	border: 1px solid #000;
	background-color: #ffe59d;
	color: #000;
}
div.cpmid {
	border: 1px solid #000;
	background-color: #ffe59d;
	color: #000;
}

div.cp a {
	color: #000;
}
div.cpmid a {
	color: #000;
}


table thead th {
	font-weight:bold;
	cursor:pointer;
}

/*Tables */
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
	border-bottom: 2px solid #00f;
	background-color: #eef;
	color: #000;
}
tr.even, tr.even td {
	background-color: #fff;
	color: #000;	
}
tr.odd, tr.odd td {
	background-color: #ffe59d;
	color: #000;	
}
table.gb tr.even, tr.even td a {
	color: #000;
}
table.gb tr.odd, tr.odd td a {
	color: #000;
}
tr.bordered  td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
tr.highlight, tr.highlight td {
	background-color: #ffac0c;
}
tr.grid td {
	border: 1px solid #000;
}
table.gbl td.locked, table.gbl th.locked {
	border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
	background-color: #eef;
}
table.gb .cat0 {
	background-color: #ddf;
}
table.gb .cat1 {
	background-color: #dfd;
}
table.gb .cat2 {
	background-color: #fdd;
}
table.gb .cat3 {
	background-color: #dff;
}
table.gb .cat4 {
	background-color: #ffd;
}
table.gb .cat5 {
	background-color: #fdf;
}
table.gb .cat6 {
	background-color: #aaf;
}
table.gb .cat7 {
	background-color: #afa;
}
table.gb .cat8 {
	background-color: #faa;
}
table.gb .cat9 {
	background-color: #aff;
}
.cattothdr {
	font-variant: small-caps
}

/*Fake look of links for Javascript onclicks*/
span.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}


/*Containers for instructor leftbar, main content*/
#leftcontent {
		background: #ffe59d;
		border:1px solid #000;
		color:#000;
}

#leftcontent a {
		color: #000;
}

#centercontent {
		background:#000;
}

table.forum {
	background-color: #da7e00;	
}
table.forum th {
	background-color: #ffe090;
	color: #000;
}

div.intro {
	border: 1px solid #da7e00;
}
div.question {
	background-color: #ffe090;
	border: 1px solid #da7e00;
	color: #000;
}

div.review { /*info bar*/
	margin-top: -6px;
	background-color:  #da7e00;	
	border: 1px solid #da7e00;
	color: #000;
}

div.navbar {
	background: #ffe59d;
}
div.curquestion {
color: #000;
}
div.inactive {
background: #fff;
color: #000;
}

div.seqqinfocur {
color: #000;
}
div.seqqinfocur span.current{
color: #000;
}
div.seqqinfoavail {

}
div.seqqinfoinactive {

}
div.todoquestion, div.todoquestion div.inactive {
	background-color: #da7e00; 
	border: 0px; 
}
