/*General settings - fonts, overall page background, etc*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);

body {
	font-family: "Open Sans", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	/*line-height: 1.4em;*/
	background-color: #fff;
	/*background-color:#F5F2ED;*/
	/*background-image:url(../img/simplebg.png);*/
	/*background-position:center top;*/
	/*background-repeat:repeat-y;*/
	padding: 0;
	margin: 0;
}

h1,
h2,
h3 {
  margin-top: 21px;
  margin-bottom: 15px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
}
.h1 {
  font-size: 39px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 1.25em;
}

h4,
.h4 {
  font-size: 19px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

div.mainbody {
	height:auto;
}
.headerwrapper, .footerwrapper {
	background-color: #fff;
}
.headerwrapper a:link,
.headerwrapper a:visited,
.headerwrapper p {
	color: #fff;
}
.footerwrapper {
	height: 20px;
	margin:auto;
	max-width: 1920px;
	padding: 0 2em;
}
.midwrapper {
	/*padding-left: 10px;
	padding-right: 10px;*/
	position: relative;
	margin:auto;
	max-width: 1920px;
	padding: 0 2em;
}
#headerlogo {
	right: 0px;
	top: 1px;
}
.pagetitle {
	margin-top: 2.5em;
}

/*Link styles*/
a:link {
	color: #000;
	text-decoration: underline;
}
a:visited {
	color: #000;
	text-decoration: underline;
}
a:hover {
	color: #b4b9ed;
	text-decoration: underline;
}
a.abutton {
	text-decoration: none;
}
a.abutton:hover {
	background-color: #E0E0E0;
	color: #000;
}

/*Container for course items*/
div.item {
	/*border: 1px solid #000;*/
	background-color: #fff;
}

/*Container for editor*/
div.editor {
	border: 1px solid #000;
}

/*Default block container*/
div.block, div.blockitems div.blockitems div.block {
	/*border: 1px solid #000;*/
	background-color: #e0e0e0;
}

/*Default block item container*/
div.blockitems, div.blockitems div.blockitems div.blockitems {
	/*border: 1px solid #000;*/
	border-top: 0px;
	background-color: #f8f8f8;
}

/*Second level default block container*/
div.blockitems div.block {
	background-color: #dfd;
}

/*Second level default block item container */
div.blockitems div.blockitems {
	background-color: #efe;
}

/*toggles for instronly items inside item wrappers */
div.item:hover span.instronly, div.block:hover span.instronly {
	visibility: visible;
}
span.instronly {
	visibility: hidden;
}

/*Icons*/
div.icon {
	color:#00d;
	border: 1px solid #00f;
	font-weight: bolder;
}

/*Breadcrumb bar*/
div.breadcrumb {
	border: 1px solid #000;
	width: 100%;
	border: 0px;
	background-color: #fff;
	margin-bottom: 5px;
	margin-left: -10px;
	margin-right: -10px;
	padding: .4em;
	padding-left: 10px;
}

/*Control panels*/
div.cp {
	/*border: 1px solid #000;*/
	background-color: #ddd;
}
div.cpmid {
	/*border: 1px solid #000;*/
	background-color: #ddd;
}




table thead th {
	font-weight:bold;
	cursor:pointer;
}

table {
	width: 100%;
}

/*Tables */
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
	border-bottom: 2px solid #9362E1;
	background-color: #eee7fa;
}
tr.even {
	background-color: #fff;
}
tr.odd {
	background-color: #f8f6fc;
}
tr.bordered  td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
tr.highlight {
	background-color: #ddf;
}
tr.grid td {
	border: 1px solid #000;
}
tr.dbltop td {
	border-top: 3px double #000;
}
table.gbl td.locked, table.gbl th.locked {
	border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
	background-color: #eef;
}
table.gb .cat0 {
	background-color: #ddf;
}
table.gb .cat1 {
	background-color: #dfd;
}
table.gb .cat2 {
	background-color: #fdd;
}
table.gb .cat3 {
	background-color: #dff;
}
table.gb .cat4 {
	background-color: #ffd;
}
table.gb .cat5 {
	background-color: #fdf;
}
table.gb .cat6 {
	background-color: #aaf;
}
table.gb .cat7 {
	background-color: #afa;
}
table.gb .cat8 {
	background-color: #faa;
}
table.gb .cat9 {
	background-color: #aff;
}
.cattothdr {
	font-variant: small-caps
}

/*Fake look of links for Javascript onclicks*/
span.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}


/*Containers for instructor leftbar, main content*/
#leftcontent {
		background:#eee;
		/*border:1px solid #000;*/
		color:#000;
		position: absolute;
		left: 15px;
		top: 4em;
		width: 180px;
		padding-top: 10px;
		padding-left: 10px;
		font-size: 90%;
		line-height: 1.5em;
}

#centercontent {
		margin-left:200px;
		background:#ffffff;
		margin-right: 0px;
		padding-bottom: 5px;
}
.instrdates, .instronly {
	font-size: 80%;
}
div.ddmenu {
	background: #F2F2F2;
	border:1px solid #C3CAC2;
	padding: 5px;
	position: absolute;
	right:auto;
	text-align:left;
	visibility:hidden;
	margin: 0px;
	z-index: 100;
}
div.ddmenu li {
	padding-bottom: 2px;
}
div.ddmenu ul.nomark li {
	margin-top: 0px;
}
div.ddmenu ul.nomark {
	padding-left: 0px;
	margin-left: 15px;
}
/*colors and borders for assessments*/
/*seq question css*/
div.curquestion {

}
div.inactive {

}
hr.seq {

}
div.seqqinfocur {

}
div.seqqinfocur span.current{

}
div.seqqinfoavail {

}
div.seqqinfoinactive {

}
div.todoquestion {
	background-color: #ffffcc;
	border: 0px;
}
/*all questions*/
.mceContentBody {
	font-family: "Open Sans", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	font-size: 15px;
}
div.question {
	font-family: "Open Sans", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	font-size: 15px;
	background-color: #F7FCFF;
	border: 1px solid #C3D4DD;
	line-height: 1.4em;
}
div.inset {
	margin-right: 0px;
}

div.prequestion {
	background-color: #E8F1F6;
	border: 1px solid #CAD7DF;
}
div.review { /*info bar*/
	margin-top: -6px;
	background-color: #E8F1F6;
	border: 1px solid #CAD7DF;
	font-size:85%;
}
div.intro {
	border: 1px solid #CCCCCC;
	background-color: #F8F8F8;/*#FAFFFD;*/
	padding: 10px;
	line-height: 24px;
}
div.navbar {
	background: #F5F5FF;/*#E0F0F8;*/
	border: 1px solid #ddddff;
	color:#000;
}
div.navbar a {
	color: blue;
}
div.navbar ul.qlist li {
	font-size: 12px;
}
div.navbar ul.qlist li a {
	font-size: 14px;
}
span.current {
	background-color: #E0FF92;
}
span.done {
	text-decoration: line-through;
}

span.padright {
	padding-right: 120px;
}
span.formright {
	width: auto !important;
}
.headerwrapper {
	border: 0px;
	margin: 0;
	margin: 0px;
	margin-bottom: 0px;
	background-color: #1E74D1;
	/*box-shadow: 0 0 15px #333;*/
	/*height: 94px;*/
	/*border-bottom: 2px solid #440044;*/
}
.headerwrapper h1 {
	margin: 0;
	padding: 30px 20px 0px;
	color:#AE131E;
	font-weight: normal;
}
#header-menu-items {
	color: #fff;
}
#header-menu-items a,
#headerrightlinksgroup a {
	text-decoration: none;
}
#header-menu-items a:hover,
#headerrightlinksgroup a:hover {
	color: #FFD600;
	text-decoration: none;
}
.header-menu-item {
	padding: 0.2em 0.5em;
}
#homemenu {
	color: #000;
}
div#headercontent, div#navlistcont {
	max-width: 1920px;
	padding: 0 2em;
	margin: auto;
}
.headerbar-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
div#headerbar-menu-toggle {
	display: none;
}
.menu-dropdown-btn {
	height: 40px;
	width: 40px;
}
div#navlistwrapper {
	margin:auto;
	max-width: 1920px;
	padding: 0 2em;
}
div#headercontent {
	height: 86px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
div#navlistcont {
	height: 35px;
	background-color: #493FC4;
}
ul#navlist {
	height: 100%;
	display: flex;
	align-items: center;
	background-color: #493FC4;
}
ul#navlist li {
	height: 100%;
	/*display: flex;
	align-items: center;*/
}
ul#navlist li a:hover {
	background-color: #1B128E;
}
ul#navlist li a {
	line-height: 35px;
	height: 100%;
	padding: 0 1em;
	background-color: #493FC4;
}
div#headerbarlogo {
	/*background: transparent url(../img/otbslogo.gif) no-repeat scroll left bottom;*/
	/*padding-top: 10px;*/
	/*height: 60px;*/
	/*overflow: hidden;*/
}
div#headerbarlogo img {
	vertical-align: -60%;
}
div.linksgroup {
	text-align: right;
	color: #666;
	display: flex;
	align-items: center;
}
div#headerhome, div#homelinkbox {
	padding-top: 8px;
}
a.newnote, a.newnote:link, a.newnote:visited {
	color: #f00;
}
ul#navlist li a {
	border-right: none;
}
.activetab {
	background-color: #1B128E !important;
}
.sysnotice {
	border-radius: 4px;
}
#headermanageqset h2 img {
	padding: 0 0.25em;
	cursor: pointer;
}
#headerrightlinks {
	margin-left: 0.75em;
	margin-right: 1.5em;
}
#help-button {
	background-color: #FFD600;
	border-color: #FFD600;
	border-radius: 4px;
	padding: 12px 24px 12px 20px;
	color: #000;
	display: flex;
	align-items: center;
}
#help-icon {
	height: 14px;
	margin-right: 10px;
}
.buttonactive {
	background-color: #094685 !important;
	padding: 8px !important;
	text-decoration: none !important;
}
.buttoninactive {
	background-color: #115EAF !important;
	padding: 8px !important;
	text-decoration: none !important;
}
#myname {
	color: #eee;
	font-weight: bold;
	padding-right: 0.5em;
	cursor: default;
	border-right: 1px solid #eee;
}
#avatar {
	height: 14px;
	width: 14px;
	background-size: cover;
	background-position: center;
	/*border-radius: 50%;*/
	margin: 0 .5em;
}
.padright.hideinmobile {
	display: none;
}

/* HELP MODAL */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=50);
	z-index: 99;
}
#help-modal {
  position:absolute;
  background:rgba(0,0,0,0.2);
  border-radius:14px;
  padding:8px;
	z-index: 100;
}
#help-modal-content {
  border-radius:8px;
  background:#fff;
	height: 100%;
}
#help-modal-close {
  position:absolute;
  background:url(../ohm/img/close.png) 0 0 no-repeat;
  width:25px;
  height:25px;
  display:block;
  text-indent:-9999px;
  top:-7px;
  right:-7px;
}
.modal-inner {
	height: 560px;
	display: flex;
	flex-direction: row;
	height: 100%;
}
.modal-inner-columns {
	/*width: 50%;*/
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*margin: 20px 0;*/
	padding: 0 20px;
}
#community-inner-column {
	border-bottom: 1px dotted black;
}
#community-inner-column,
#guides-inner-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1em;
	width: 100%;
}
.modal-inner-columns h2 {
	font-weight: lighter;
}
#community-column {
	width: 65%;
	border-right: 1px dotted black;
}
#lumen-column {
	width: 35%;
	background-color: #1e74d1;
	border-radius: 0 6px 6px 0;
	color: #fff;
}
.ask-icons {
	height: 60px;
	width: 60px;
	display: block;
	margin: 0.5em auto;
}
#community-icon {
	background:url(../ohm/img/ask-community-icon.png) 0 0 no-repeat;
	background-size: 60px;
}
#lumen-icon {
	background:url(../ohm/img/ask-lumen-icon.png) 0 0 no-repeat;
	background-size: 60px;
}
#guides-icon {
	background:url(../ohm/img/ask-guides-icon.png) 0 0 no-repeat;
	background-size: 60px;
}
#community-button-container,
#guides-button-container {
	flex-grow: 1;
	display: flex;
}
#community-button-container a,
#guides-button-container a {
	align-self: center;
}
div#community-button-container,
div#lumen-button-container,
div#guides-button-container {
	margin: 2em;
}
.field {
	padding: 10px;
	width: 280px;
	border: 1px solid #aaa;
	border-bottom: 0;
}
#z_subject {
	border-radius: 6px 6px 0 0;
	margin-bottom: 0;
}
#z_description {
	margin-top: 0;
	border-radius: 0 0 6px 6px;
	margin-bottom: 6px;
}
#z_email {
	border-radius: 6px;
	margin-bottom: 6px;
}
#z_priority {
	width: 300px;
	border: 1px solid #aaa;
	border-bottom: 0;
	border-radius: 6px;
	background-color: #fff;
	height: 35px;
	left: 10px;
	right: 10px;
}
#z_priority:first-child {
	color: #aaa;
}
.modal-buttons {
	background-color: #fff;
	border-color: #FFD600;
	border-width: 2px;
	border-radius: 4px;
	padding: 24px;
	line-height: 0;
	color: #000;
	cursor: pointer;
	white-space: nowrap;
}
.modal-buttons:hover {
	background-color: #FFD600;
}
#lumen-button {
	background-color: #155192;
	color: #fff;
	border: 1px solid #104074;
	padding: 24px;
	line-height: 0;
	cursor: pointer;
}
#lumen-button:hover {
	color: #000;
	background-color: #FFD600;
}
.response-icons {
	min-width: 20px;
	height: 20px;
	margin-right: 10px;
}
#fail-response {
	background-color: #FFBABA;
	color: #D8000C;
	padding: 10px;
	border-radius: 6px;
	margin: 0 1em;
	display: flex;
	align-items: center;
	text-align: left;
	font-size: 12px;
}
#success-response {
	background-color: #DFF2BF;
	color: #4F8A10;
	padding: 10px;
	border-radius: 6px;
	margin: 0 1em;
	display: flex;
	align-items: center;
	text-align: left;
	font-size: 12px;
}
#success-icon {
	background:url(../ohm/img/success-icon.png) 0 0 no-repeat;
	background-size: 20px;
}
#fail-icon {
	background:url(../ohm/img/fail-icon.png) 0 0 no-repeat;
	background-size: 20px;
}
.new-tab-icon {
	height: 10px;
	margin-top: -10px;
}

.question table{
	margin-left: 0px;
	width:auto;
}
/* MEDIA QUERIES */
@media (max-width: 1023px) {
	.modal-inner-columns h2 {
		font-size: 28px;
	}
	div#help-modal {
		height: auto;
	}
	.modal-inner {
		flex-direction: column;
		align-items: center;
		/*padding: 1em 3em;*/
	}
	.modal-inner-columns {
		margin: 0;
		padding: 0;
	}
	.modal-inner-columns div p {
		margin: .5em 3em;
	}
	#community-column,
	#lumen-column {
		width: 100%;
	}
	#lumen-column {
		border-radius: 0 0 6px 6px;
	}
	#lumen-column h2 {
		margin-top: 1em;
	}
	div.ask-icons {
		display: none;
	}
	div#community-inner-column,
	div#guides-inner-column {
		width: 100%;
		margin: 1em 3em;
	}
	div#community-button-container,
	div#lumen-button-container {
		margin: 2.5em;
	}
	div#community-column,
	div#community-inner-column {
		border-right: none;
		border-bottom: 1px dotted black;
	}
	#community-column {
		box-shadow: none;
	}
	#ticket_form {
		width: 80%;
	}
	#zd-help-form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 900px) {
	div#headercontent {
		flex-direction: column;
		justify-content: center;
		height: 116px;
	}
	div#leftcolumn,
	div#rightcolumn {
		float: none;
		width: auto;
	}
	#centercontent {
		margin-top: 35px;
	}
	#viewbuttoncont {
		float: inherit !important;
	}
}

@media (max-width: 650px) {
	#myname {
		padding-bottom: 0.5em;
	}
	div#headerbar-menu-toggle {
		display: block;
		cursor: pointer;
	}
	div#headercontent {
		height: auto;
		display: block;
		padding: 1em;
		padding-bottom: 0.5em;
	}
	div#headerrightlinks a {
		line-height: 1.8;
		padding: 0.3em 0;
	}
	div.linksgroup {
		display: none;
	}
	div.linksgroup.responsive {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-top: 1em;
	}
	div#navlistcont.responsive {
		display: block;
		height: auto;
		padding: 0;
	}
	div#navlistcont {
		display: none;
	}
	ul#navlist {
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}
	ul#navlist li {
		width: 100%;
	}
	ul#navlist li a {
		width: 100%;
		padding: 0.3em 0 0.3em 1.5em;
		/*padding-left: 1.5em;*/
		line-height: 1.8;
		border-bottom: none;
	}
	a.header-menu-item {
		padding: 0.3em 0.5em !important;
	}
	a#help-modal-open {
		line-height: 1.8;
	}
	span#help-button {
		background-color: transparent;
		color: #fff;
		padding: 0;
		padding-left: 7px;
	}
	span#help-button img {
		display: none;
	}
	div#headerrightlinks {
		margin: 0em;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	span#myname {
		border: none;
	}
	#viewbuttoncont {
		display: flex;
		flex-direction: column;
	}
	#viewbuttoncont a {
		margin-bottom: 4px;
	}
	#avatar {
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	div#headercontent {
		display: block !important;
	}
	span#leftcontenttoggle.hideifnavlist, .hideifnavlist {
		display: inline-block !important;
	}
	#viewbuttoncont {
		display: none;
	}
}
