/* body {
	background-color: none;
} */

/* All questions */
div.question {
  background-color: #ffffff;
	border: none;
	font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
	line-height: 1.4;
}

/* Intro paragraph of question gets larger font */
div.question > div > p:first-of-type {
  font-size: 20px;
}