/*General settings - fonts, overall page background, etc*/
body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 80%;	
	margin-top: 0px;
	padding-top: 0;
}

/*Link styles*/
a:link {
	text-decoration: none;
	color: #3B5998;
}
a:visited {
	text-decoration: none;
	color: #3B5998;
}
a:hover {
	text-decoration: underline;
}

/*Container for course items*/
div.item {
	/*border: 1px solid #000;*/
	/*background-color: #fff;*/
	margin-left: 10px;
}

/*Container for editor*/
div.editor {
	border: 1px solid #000;
}

/*Default block container*/
div.block, div.blockitems div.blockitems div.block {
	/*border: 1px solid #000;*/
	background-color: #b9c4da;
	border-top: 1px solid #EEEEEE;
}

/*Default block item container*/
div.blockitems, div.blockitems div.blockitems div.blockitems {
	/*border: 1px solid #000;*/
	border-top: 0px;
	background-color: #ECEFF5;
	border-bottom: 1px solid #E5EAF1;
}

/*Second level default block container*/
div.blockitems div.block {
	background-color: #b9dac4;
	border-top: 1px solid #EEEEEE;
}

/*Second level default block item container */
div.blockitems div.blockitems {
	background-color: #ECF5EF;
	border-bottom: 1px solid #c9e3d2;
}

/*toggles for instronly items inside item wrappers */
div.item:hover span.instronly, div.block:hover span.instronly {
	visibility: visible;
}
span.instronly {
	visibility: hidden;
}

/*Icons*/
div.icon {
	color:#00d;	
	border: 1px solid #00f;
	font-weight: bolder;
}

/*Breadcrumb bar*/
div.breadcrumb {
	/*border: 1px solid #000;*/
	margin-left: -10px;
	margin-right: -10px;
	border: 0;	
	background-color: #3B5998;
	font-weight: bold;
	color: #fff;
	padding: 10px 10px 5px 10px;
}
div.breadcrumb a:link, div.breadcrumb a:visited {
	color: #eef;
}

#headerlogo {
	background: #fff;
	right:-10px; 
	top: 0px; 
	padding: 5px;
	height: 2em;
	cursor: pointer;
}

/*Control panels*/
div.cp {
	/*border: 1px solid #000;*/
	background-color: #ddd;
}
div.cpmid {
	/*border: 1px solid #000;*/
	background-color: #ddd;
}




table thead th {
	font-weight:bold;
	cursor:pointer;
}

/*Tables */
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
	border-bottom: 2px solid #00f;
	background-color: #eef;
}
tr.even, tr.even td {
	background-color: #fff;	
}
tr.odd, tr.odd td {
	background-color: #dfd;
}
tr.bordered  td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
tr.highlight, tr.highlight td {
	background-color: #ddf;
}
tr.grid td {
	border: 1px solid #000;
}
tr.dbltop td {
	border-top: 3px double #000;
}
table.gbl td.locked, table.gbl th.locked {
	border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
	background-color: #eef;
}
table.gb .cat0 {
	background-color: #ddf;
}
table.gb .cat1 {
	background-color: #dfd;
}
table.gb .cat2 {
	background-color: #fdd;
}
table.gb .cat3 {
	background-color: #dff;
}
table.gb .cat4 {
	background-color: #ffd;
}
table.gb .cat5 {
	background-color: #fdf;
}
table.gb .cat6 {
	background-color: #aaf;
}
table.gb .cat7 {
	background-color: #afa;
}
table.gb .cat8 {
	background-color: #faa;
}
table.gb .cat9 {
	background-color: #aff;
}
.cattothdr {
	font-variant: small-caps
}

/*Fake look of links for Javascript onclicks*/
span.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}


/*Containers for instructor leftbar, main content*/
#leftcontent {
	background:#fff;
	border-right: 1px solid #D6D9DE;
	/*border:1px solid #000;*/
	color:#000;
	width: 160px;
	border-radius: 0;
}

#centercontent {
	background:#fff;
}

div.ddmenu {
	padding: 5px;
	background: #eeffee;
}
/*colors and borders for assessments*/
/*seq question css*/
div.curquestion {

}
div.inactive {
	border: 1px solid #bbd;
}
div.prequestion {
	border: 1px solid #bbd;
}
hr.seq {

}
div.seqqinfocur {

}
div.seqqinfocur span.current{

}
div.seqqinfoavail {

}
div.seqqinfoinactive {

}
div.todoquestion {
	background-color: #ffffcc; 
	border: 0px; 
}
/*all questions*/
div.question {
	background-color: #fff; 
	border: 1px solid #bbd;
	width: auto;
}

.ansred, .ansgrn, .ansyel {
	border: none;
	padding: 0px;
}

div.review { /*info bar*/
	margin-top: -6px;
	background-color: #e0ffe0;
	border: 1px solid #bbd;
	width: auto;
}
div.review, div.prequestion {
	display: none;
}
div.intro {
	background-color: #fff;
	border: none;
}
div.inset {
	border: 1px solid #ccc;
	padding: 5px;
}
div.navbar {
	background:#e0ffe0;
	border: 1px solid #bbd;
	color:#000;
}
div.navbar a {
	color: blue;
}
div.navbar > h4 {
	display: none;
}
span.current {
	background-color: #ffa;
}
span.done {
	text-decoration: line-through;
}
.headerwrapper {
	margin-left:-10px;
	margin-right:-10px;
}
ul#navlist {
	background-color: #3B5998;
	border-bottom: 1px solid #fff;
}
ul#navlist li a {
	background-color: #3B5998;
	font-weight: bold;
	color: #fff;
}
ul#navlist li a:hover {
	background-color: #b9c4da;
	color:  #3B5998;
}

.contentContain h1, .contentContain h2, .contentContain h3, .contentContain h4, .contentContain h5, .contentContain h6 { font-weight:normal; color:#1371B2; margin:1em 30px 0em 30px;}
.contentContain h1 em, .contentContain h2 em, .contentContain h3 em, .contentContain h4 em, .contentContain h5 em, .contentContain h6 em { font-weight:normal;}
.contentContain ol,.contentContain ul	{ line-height:150%; margin:0.5em 0px 1em 30px; list-style:disc;}
.contentContain ul li ul	{ list-style:circle;}
.contentContain ol	{ list-style:decimal;}
.contentContain ol li ol	{ list-style:lower-alpha;}
.contentContain a	{ color:#1371B2;}


/*SUB LEARNING OBJ*/
.objref	{ margin:0 0 15px 0px; color:#366A33;}


/* CONTENT UL/OL */
ul.none, ol.none, ul.nomark	{ list-style:none !important;}
ul.none li, ol.none li, ul.nomark li	{ list-style:none !important;}

/* <!-- TITLE --> */
.prefix{text-transform:uppercase;color:#3F3930}

.imagewrap .image{text-align:center}
.materials .image{text-align:left}

div.activitywrap{margin:1.5em 0 1.5em 0;}
div.activitywrap.compositeNest{margin:0px 0px 0px 0px;}
/*div.activitywrap .activity{margin:.25em 0} 7/13/10*/

/* <!-- AUDIO --> */
.audio object{margin-right:5px;vertical-align:middle}
.audio a.apps_preferences-system-windows{font-size:75%}
/* <!-- DIRECTOR --> */
/* <!-- FLASH --> */
.flash_obj, .cdf_player, .unity_obj {text-align:center}
.activitywrap .flash_obj,
.purpose .flash_obj,
.activitywrap .cdf_obj,
.purpose .cdf_obj,
.activitywrap .unity_obj,
.purpose .unity_obj {text-align:left}
object{outline:none}
.alternate{margin:.25em 0 1em;}

/* Image objects with caption  */
/*div.imagewrap{color:#C33;margin:1em auto;display:table}*//*missing img font*/
.imagewrap h5{color:#59595A}

table.image{padding:0 10px 10px;margin:10px auto;color:inherit;background-color:#FFF;border:1px solid #CCC;text-align:center}
table.image h5{padding:0 0 3px;color:#292f33;background-color:inherit;text-align:left}
table.image p{text-align:left}
table.image a.popout{float:right;position:relative;right:-4px;font-size:95%}
table.image img{}

.copyright{text-align:center;clear:both;border-top:1px solid #ABABAB;padding:.5em 0;margin:1em 0 0}

/*
 * Workbook
 */
table.labeled{max-width:none;}
table.labeled th{text-align:left}
.labeled table.wbtable{/*margin:0 0 .25em*/ margin:0px auto;}

ol.none{list-style-type:none !important}
ol.decimal{list-style-type:decimal !important}
ol.decimal-leading-zero{list-style-type:decimal-leading-zero !important}
ol.lower-roman{list-style-type:lower-roman !important}
ol.upper-roman{list-style-type:upper-roman !important}
ol.lower-alpha{list-style-type:lower-alpha !important}
ol.upper-alpha{list-style-type:upper-alpha !important}
ol.lower-latin{list-style-type:lower-latin !important}
ol.upper-latin{list-style-type:upper-latin !important}
ul.none{list-style-type:none !important}
ul.disc{list-style-type:disc !important}
ul.square{list-style-type:square !important}
ul.circle{list-style-type:circle !important}

/* <!-- CODE --> */
code {
	font-family:Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    font-weight:bold;
    font-style:normal;
    font-size:1em;
	background-color:inherit;
}
code.block {
	display:block;
	margin-left:2em;
}
.code {
	padding:1em;
	margin:.5em 0 1.5em;
	overflow:auto;
}

/* <!-- FORMULA --> */
table.formula{margin:.5em auto}
table.formula td{padding:.5em}
/* <!-- QUOTATION --> */
span.quote,
blockquote{font:italic 135%}


/* extra */
a.extra{position:relative;border-bottom:1px dashed #284090;
  text-decoration:none;outline:none;}
a.extra:focus,
a.extra:hover{text-decoration:none;color:#284090}
a.extra.pronunciation{text-decoration:none;outline:none;
  padding-left:20px;}
div.extra{border:1px dashed #128ab3}
.extra-float{color:#330;padding:0.6em; max-width:350px; min-width:250px; 
	position:absolute;bottom:100%;margin-bottom:3px;left:0;
	border:1px solid #1371b2; font-size:14px;}
.extra-float .prefix{font-size:10px;color:#999}
table.wbtable table.extra-float td{border:0}
/* p.extrapronunciation{}
p.extratranslation{}
p.extrameaning{}
p.extraexample{} */

/* symbols */
span.sym-set_by_interv {
	font-size:70%;
	color:#c00;background-color:inherit;
	font-weight:bold;
	vertical-align:sub;
}

em.bold{font-style:normal;font-weight:bold}
em.deemphasis{font-weight:normal;color:#987}
em.emphasis{font-style:italic;font-weight:bold}
em.highlight{color:inherit;background-color:#FF6;font-weight:normal}
em.italic{font-style:italic;font-weight:normal}
em.line-through{text-decoration:line-through;font-weight:normal}
em.oblique{font-style:oblique;font-weight:normal}
h1 em.highlight,h2 em.highlight,h3 em.highlight,h4 em.highlight,h5 em.highlight,h6 em.highlight,
h1 em.italic,h2 em.italic,h3 em.italic,h4 em.italic,h5 em.italic,h6 em.italic,
h1 em.line-through,h2 em.line-through,h3 em.line-through,h4 em.line-through,h5 em.line-through,h6 em.line-through,
h1 em.oblique,h2 em.oblique,h3 em.oblique,h4 em.oblique,h5 em.oblique,h6 em.oblique{font-weight:inherit}

/* foreign */
span.foreign{font-style:italic}

/* ipa */
span.ipa{font-family:'Gentium Plus','Charis SIL',GentiumPlusW,'Doulos SIL','DejaVu Sans','Arial Unicode MS','Lucida Sans Unicode';font-size:larger;}

/* var */
span.variable{font:18px/1em monospace}

/* sup / sub */
sup{vertical-align: super;}
sub{ vertical-align:sub;}

/* <!-- =================== Semantic ========================================= --> */
/* <!-- QUALIFIED NAMES --> */
.pronunciation{}
.translation{font-style:italic}

ol.meanings{color:inherit;background-color:#FFF}
ol.meanings .meaning{color:#666;background-color:inherit;font-style:italic}
ol.meanings .meaning div{color:#000;background-color:inherit;font-style:normal}

/* <!-- ALTERNATIVES --> */
.altWrap{margin:.75em 0 .25em; color:#000 !important; font-style:normal !important;}
.altWrap .altSelector{float:left; margin:0px 0px 12px -.25em;}
.altWrap select.alts{border:0;margin:1px/*forHover*/;padding:0;background:none;font-weight:bold}
.altContentOn{clear:left}
.altContentOff{display:none}
.alternative{clear:left}
.altTip{background-color:#FFC;border-bottom:1px solid #EEB;
    margin-left:.5em;padding:.25em;vertical-align:text-top}
.altTip img{vertical-align:baseline}

/* <!-- CONJUGATION --> */
table.conjugation{margin:.5em auto 1em;padding:.5em;/*border:1px solid #CCC*/}
table.conjugation h5{color:#292F33;background-color:inherit;padding:0 0 3px}
table.conjugation h5 span{color:#66727a;background-color:inherit}
table.conjugation th, table.conjugation td{padding:.25em}
table.conjugation table{color:inherit;background-color:#e8f5fd;padding:2px}
table.conjugation .pronouns{font-style:italic}
table.conjugation.labeled table.conjugation{width:100%}

/* <!-- DIALOG --> */
table.dialog{margin:1em 0px;}
table.dialog thead tr th { padding:0px; padding:0px 0px 18px 0px;}
table.dialog h5{padding:0 0 3px;color:#292f33;background-color:inherit}
table.dialog a.popout{float:right;position:relative;right:-4px;font-size:95%}
  table.lines{border-collapse:collapse;}
  table.lines tr{border-bottom:2px #FFFFFF solid; padding:0px 0px 5px 0px;}
  table.lines tr.line1{color:inherit;background-color:#e8f5ed;}
  table.lines tr.line2{color:inherit;background-color:#edeae4}
  table.lines tr.line3{color:inherit;background-color:#f1f6dd}
  table.lines tr.line4{color:inherit;background-color:#e8e8e8}
  table.lines tr.line5{color:inherit;background-color:#fdf2ef}
  table.lines tr.line6{color:inherit;background-color:#e8f5ed}
	table.lines td{vertical-align:top}
	table.lines p{margin:0;padding:0 0 10px 0;}
  table.lines td.speaker{font-size:93%;text-align:center;padding:3px 5px;width:1px}
  table.lines td.speaker .image{ display:table-cell; vertical-align:top; padding:2px 0px 0px 0px;}
  table.lines td.speaker img{width:50px}
  table.lines td .name{padding:0px;white-space:nowrap;font-weight:bold;line-height:160%}
  table.lines td.speaker .name{margin:0;white-space:normal}
	table.lines td.line{padding-right:5em;padding-left:.5em}	
	table.lines td.line p.translation{border-left:1px solid #9aa1a6;font-size:93%;padding:1px 5px;margin-top:3px}

/* <!-- FIGURE --> */
.figurewrap{margin:1em auto;padding:.5em;border:1px solid #CCC;width:auto;display:table;}
.figurewrap h5{color:#696}
.figure.vertical{}
.figure h5{color:#59595A}
.figure-lbl{text-transform:uppercase;color:#CCC;font-size:50%;float:right}

/* <!-- INQUIRY --> */
.inquiry{margin:1em 0px;}
.inquiry td{vertical-align:top;line-height:1.3em; padding:0px 0px 10px 0px;}

.inquiry thead tr th .prefix { color:#595959; text-transform:uppercase; font-size:14px; }
.inquiry thead tr th h5{ padding:0px; font-size:14px; color:#000;  font-weight:bold;}
.inquiry tbody tr:nth-child(even) { color:#595959; padding:0px 0px 0px 15px;}
/* .labeled.inquiry{margin-top:0;margin-bottom:10px} */


/*example, figure, pullout can contains <material> tag used for positioning*/
.material{padding-right:30px}
.vertical .material{display:table;margin:auto;clear:both}
.material.horizontal{display:table;float:left;padding:.5em}
.material h5,
.material.horizontal h5{font-size:75%}
.material.horizontal .imagewrap{margin:0 auto;} 
.material.horizontal .imagewrap img{margin-left:0;margin-right:0}
.material.vertical{clear:left}
.material .actContain	{padding:15px 0px 15px 0px !important;}
/*example, figure, pullout share @orient=horizontal capability*/ 
.figure.horizontal{display:table;background-color:#FFF}
.figure.horizontal > div{display:table-row}
.figure.horizontal > div > div.material{display:table-cell;float:none;vertical-align:middle}


/* <!-- THEOREM --> */
.theorem.labeled td{padding:0}
/*.theorem{}
ol.statements{}*/
.statement{margin:.8em 0 1.3em}
.proof{border:1px solid #CCC;padding:5px;margin-top:10px}
.proof span{font-weight:bold}
.proof .tombstone{font-weight:bold;text-align:right}


.sym{font-size:22px}

#jumpCourseKey{clear:both;margin:0 auto 1em}




