/*General settings - fonts, overall page background, etc*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);

body {
	background-color:#FFFFFF;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	margin:0;
	padding:0;
}
html {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

h1,
h2,
h3 {
  margin-top: 21px;
  margin-bottom: 10.5px;
}
h4,
h5,
h6 {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}
h1,
.h1 {
  font-size: 39px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 26px;
}

h4,
.h4 {
  font-size: 19px;
}

h5,
.h5 {
  font-size: 15px;
}

h6,
.h6 {
  font-size: 13px;
}

p {
  margin: 0 0 10.5px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10.5px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

blockquote {
  padding: 10.5px 21px;
  margin: 0 0 21px;
  border-left: 5px solid #dddddd;
}

blockquote p {
  font-size: 18.75px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote:before,
blockquote:after {
  content: "";
}

/*Link styles*/
a, a:link, a:visited {
	color: #008cba;
	text-decoration: none;
}

a:hover,
a:focus {
  color: #00526e;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

div.mainbody {
	height:auto;
	
}

b.readitem {
	font-weight: normal;
}
a.abutton {
	padding: 3px 8px;
	display: inline-block;
	color: #333;
}
a.abutton, a.abutton:hover, a.abutton:focus {
	text-decoration: none;
}
input[type=submit],input[type=button], button, a.abutton {
	background-color: #e7e7e7;
  border-color: #dadada;
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
input[type=submit].secondarybtn,input[type=button].secondarybtn, button.secondarybtn {
	background-color: #f9f9f9;
}
input[type=submit]:hover, button:hover,input[type=button]:hover, a.abutton:hover {
  text-decoration: none;
   background-color: #d3d3d3;
  border-color: #bbbbbb;
}
input[type=submit]:focus, button:focus,input[type=button]:focus, a.abutton:focus {
	 background-color: #d3d3d3;
  border-color: #bbbbbb;
  text-decoration: none;
	outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.linkedtextholder {
  max-width: 600px;
  margin: auto;
}
    
.linkedtextholder table {
    font-size: 0.9em;
    border-collapse: collapse; 
  }
.linkedtextholder table thead th {
      padding: 5px;
      border: 1px solid #dddddd;
      border-bottom: 2px solid #dddddd;
      font-weight: bold; 
    }
.linkedtextholder table tfoot th {
      padding: 5px;
      border: 1px solid #dddddd;
      font-weight: bold; 
    }
.linkedtextholder table td {
      border: 1px solid #dddddd;
      padding: 5px; 
    }
.linkedtextholder .im_table {
    margin-top: 20px;
    margin-bottom: 20px; 
  }

 .mceContentBody .im_glossdef {	
	color: #ccc;
}
.mceContentBody .im_glossdef:before {
 	content: " (hidden def: ";
	color: #ccc;
}
.mceContentBody .im_glossdef:after {
 	content: ")";
	color: #ccc;
}
.linkedtextholder .im_glossdef {
    display: none; 
  }
  .im_glossterm.hoverdef {
  	  cursor: help;
  	  border-bottom: 1px dotted #999999;
  }
.linkedtextholder .im_figure, .linkedtextholder .os_figure, .linkedtextholder p.s32 {
    max-width: 500px;
    margin: auto; 
    font-size: 80%;
    line-height: 1.5em;
 } 
.linkedtextholder .wc_picl, .linkedtextholder .wc_picr {
	float: right;
	margin-left: 15px;
	font-size: 80%;
	line-height: 1.5em;
}
.linkedtextholder .wc_picc {
	margin: auto;
	font-size: 80%;
	line-height: 1.5em;
}
.linkedtextholder .smallattr {
    line-height: normal;
 }
.linkedtextholder .im_figure.im_medium, .linkedtextholder .im_figure.im_small {
	float: right;
	max-width: 150px;
	margin-left: 15px;
 }
 .linkedtextholder .im_figure.im_medium img, .linkedtextholder .im_figure.im_small img {
	max-width: 150px;
 }
 .linkedtextholder p.s26, .linkedtextholder p.s17, .linkedtextholder p.s41, .linkedtextholder p.s72 {
 	font-size: 26px;
 	font-weight: 300;
 }
 .linkedtextholder p.s96 {
 	font-size: 19px;
 	font-weight: 300;
 }
/*Container for course items*/
div.item {
	/*border: 1px solid #000;*/
	/*background-color: #ffffff;*/
	clear: both;
	
}

/*Container for editor*/
div.editor {
	border: 1px solid #000;
}

/*Default block container*/
div.block, div.blockitems div.blockitems div.block {
	clear: both;
	border: 1px solid #C3CAC2;
	background-color: #DBD2DB /*#D1DBD2; /*#ddf;*/
}

/*Default block item container*/
div.blockitems, div.blockitems div.blockitems div.blockitems {
	/*border: 1px solid #000;*/
	border: 1px solid #C3CAC2;
	border-top: 0px;
	background-color: #F2F2F2 /*#EAF2E7;/*#eef;*/
}

/*Second level default block container*/
div.blockitems div.block {
	border: 1px solid #C3C2CA;
	background-color: #D1D2DF;
}

/*Second level default block item container */
div.blockitems div.blockitems {
	border: 1px solid #C3C2CA;
	background-color: #E9E9E9;
}

/*toggles for instronly items inside item wrappers */
div.item:hover span.instronly, div.block:hover span.instronly {
	visibility: visible;
}
span.instronly {
	visibility: hidden;
}

.instrdates, .instronly {
	font-size: 80%;
}
div.block .instronly {
	display: block;
}

/*Icons*/
div.icon {
	color:#00d;	
	border: 1px solid #00f;
	font-weight: bolder;
}



/*Control panels*/
div.cp {
	/*border: 1px solid #000;*/
	background-color: #ddd;
}
div.cpmid {
	/*border: 1px solid #000;*/
	background-color: #ddd;
}




table thead th {
	font-weight:bold;
	cursor:pointer;
}

/*Tables */
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
	border-bottom: 2px solid #C3C2CA;
	background-color: #E2E2E2;
}
tr.even, tr.even td {
	background-color: #fff;	
}
tr.odd, tr.odd td {
	background-color: #E9E9E9;
}
tr.bordered  td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
tr.highlight, tr.highlight td {
	background-color: #ddf;
}
tr.grid td {
	border: 1px solid #000;
}
tr.dbltop td {
	border-top: 3px double #000;
}
table.gbl td.locked, table.gbl th.locked {
	border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
	background-color: #eef;
}
table.gb .cat0 {
	background-color: #ddf;
}
table.gb .cat1 {
	background-color: #dfd;
}
table.gb .cat2 {
	background-color: #fdd;
}
table.gb .cat3 {
	background-color: #dff;
}
table.gb .cat4 {
	background-color: #ffd;
}
table.gb .cat5 {
	background-color: #fdf;
}
table.gb .cat6 {
	background-color: #aaf;
}
table.gb .cat7 {
	background-color: #afa;
}
table.gb .cat8 {
	background-color: #faa;
}
table.gb .cat9 {
	background-color: #aff;
}
.cattothdr {
	font-variant: small-caps
}

/*Fake look of links for Javascript onclicks*/
span.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}


/*Containers for instructor leftbar, main content*/
#leftcontent {
		/*position: relative;
		float: left;
		left:-15px;*/
		position: absolute;
		left: 0px;
		top: 4em;
		/*border:1px solid #000;*/
		background: #fff;
		color:#000;
		margin-top: 0px;
		/*font-size: 90%;*/
		width: 180px;
		padding-top: 0px;
		padding-left: 10px;
}

#leftcontent b {
	display: block;
	background: #336699;
	color: #fff;
	padding: 2px 4px;
	margin: -4px -6px -10px -6px;
}
#leftcontent p {
	border: 1px solid #ccc;
	padding-top: 0px;
	margin-bottom: 5px;
	padding: 4px 6px;
}

#centercontent {
		margin-left:180px;
		background:#ffffff;
		margin-right: 0px;
		padding-bottom: 5px;
}
#headerlogo {
	right: 0px;
	top: 0px;
	width: 30px;
	display: none;
}

span.padright {
	padding-right: 40px;
}
.headerwrapper {
	background:#FFF;
	border: 0px;	
	margin: 0;
	margin: 0px;
	margin-bottom: 0px;
	/*height: 94px;*/
	border-bottom: 2px solid #440044;
}
.headerwrapper h1 {
	margin: 0;
	padding: 30px 20px 0px;
	color:#AE131E;
	font-weight: normal;
}
div#headercontent, div#navlistcont {
	/*width: 1000px;
	margin: auto;*/
	
}
div#headercontent {
	height: 70px;
	padding: 0px 20px;
}
div#navlistcont {
	/*height: 24px;*/
}
div#headerbarlogo {
	/*background: transparent url(../img/otbslogo.gif) no-repeat scroll left bottom;*/
	padding-top: 10px;
	height: 50px;
	overflow: hidden;
}
div#headerbarlogo img {
	vertical-align: -60%;
}
div#headerrightlinks {
	text-align: right;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	color: #666;
}

.footerwrapper {
	height: 20px;
	/*margin:auto;
	width:1000px;*/
}

div.breadcrumb {
	border: 0;
	background: #008cba;
	color: #fff;
	margin-bottom: 5px;
	margin-left: -15px;
	margin-right: -15px;
	padding: .25em;
	padding-left: 10px;
	min-height: 1.5em;
}
div#centercontent div.breadcrumb {
	margin-left: -10px;
}
div.breadcrumb a {
	color: #ddd;
}
	

.midwrapper {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	/*margin:auto;
	width:970px;*/
}

div.ddmenu {
	padding: 5px;
	background: #F2F2F2;
	border:1px solid #C3CAC2;
	position: absolute;
	right:auto;
	text-align:left;
	visibility:hidden;
	margin: 0px;
	z-index: 100;
}
div.ddmenu li {
	padding-bottom: 2px;
}
div.ddmenu ul.nomark li {
	margin-top: 0px;
}
div.ddmenu ul.nomark {
	padding-left: 0px;
	margin-left: 15px;
}
/*colors and borders for assessments*/
/*seq question css*/
div.curquestion {

}
div.inactive {

}
hr.seq {

}
div.seqqinfocur {

}
div.seqqinfocur span.current{

}
div.seqqinfoavail {

}
div.seqqinfoinactive {

}
div.todoquestion {
	background-color: #ffffcc; 
	border: 0px; 
}
/*all questions*/
div.question {
	background-color: #EAE7F2; 
	border: 1px solid #bbd;
	width: auto;
	
}
div.inset {
	margin-right: 0px;
}
div.review { /*info bar*/
	margin-top: -6px;
	background-color: #f0e6f0;
	border: 1px solid #bbd;
	width: auto;
}
div.intro {
	border: 0px;
	background-color: #ccf;
}
div.navbar {
	position: relative;
	float: left;
	left: 0px;
	background: #f0e6f0;
	border: 1px solid #bbd;
	color:#000;
}
div.navbar a {
	color: blue;
}
span.current {
	background-color: #ffa;
}
span.done {
	text-decoration: line-through;
}

ul#navlist {
	background-color: #660066;
	
}
ul#navlist li a {
	padding: 2px 8px;
	line-height: 20px;
	background-color: #660066;
}
ul#navlist li a:hover {
	background-color: #440044;
}
div#navlistwrapper {
	margin:auto;
	width:1000px;
}
div.additembox span {
	background-color: #ddd;
}
div#viewbuttoncont {
	float: right;
	background: #fff;
}
div#viewbuttoncont a {
	color: #fff;
	display: inline-block;	
	padding: 3px 5px;
	margin-left: 2px;
}
div#viewbuttoncont a:hover {
	text-decoration: none;
}
div#viewbuttoncont a.buttonactive {
	background-color: #369;
	cursor: default;
}
div#viewbuttoncont a.buttoninactive {
	background-color: #69a;
}
div#viewbuttoncont a.buttoninactive:hover {
	background-color: #036;
}
a.newnote, a.newnote:link, a.newnote:visited {
	color: #f00;
}

