#template-course-container {
  background-color: #d1e4fd;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: flex-start;
}

.quick-start-container h2,
.quick-start-container h3,
.quick-start-container h4 {
  margin: 0;
}

#template-course-container button {
  background-color: #4574c5;
  border-radius: 6px;
  border-color: #d0d0d0;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

#copy-course-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
}
