#quick-start-content-container {
  max-width: 854px;
}

#template-course-container {
  background-color: #d1e4fd;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: flex-start;
}

.quick-start-wrapper h2,
.quick-start-wrapper h3,
.quick-start-wrapper h4 {
  margin: 0;
}

#template-course-container button {
  background-color: #4574c5;
  border-radius: 6px;
  border-color: #d0d0d0;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

#copy-course-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
}

#advanced-options-container-expanded,
.advanced-options-content-wrapper {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

#advanced-options-container,
#advanced-options-container-expanded {
  margin-top: 20px;
  gap: 20px;
  transition: transform 0.3s ease;
}

#advanced-options-container-expanded.hide {
  display: none;
}

#advanced-options-container.open .open-close-caret {
  transform: rotate(180deg);
}

.collapsible-item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.collapsible-item .open-close-caret {
  display: flex;
  transition: transform 0.3s ease;
}
