name: shared-deployment-workflow
permissions:
  id-token: write   # Used for AWS OIDC auth
  contents: read    # This is required for actions/checkout
on:
  workflow_call:
    inputs:
      environment:
        description: 'Environment name passed from the caller workflow'
        required: true
        type: string
      ecr_repository:
        description: 'ECR Repository name passed from the caller workflow'
        required: true
        type: string
    secrets:
      aws_user_account:
        description: 'AWS Account ID for IAM users'
        required: true

jobs:
  beanstalk-deploy:
    name: Beanstalk Deployment
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      name: Checkout project
    
    - uses: ./.github/actions/private-ecr-login
      name: Login to Private ECR
      id: login-ecr
    
    - id: read_tree_hash
      name: Read git tree hash
      run: |
        tree_hash=$(git rev-parse HEAD:)
        echo "tree_hash=$tree_hash" >> $GITHUB_OUTPUT
        
    - id: read_env_json
      name: Read Environment JSON
      run: |
        env_json=$(jq -c '.environments[] | select(.environment_label=="${{ inputs.environment }}")' ./deploy-scripts/environments.json)
        echo "env_json=$env_json" >> $GITHUB_OUTPUT

    - id: set_env_metadata
      name: Set Environment Metadata
      run: |
        echo "account=${{ fromJSON(steps.read_env_json.outputs.env_json).account }}" >> $GITHUB_OUTPUT
        echo "application=${{ fromJSON(steps.read_env_json.outputs.env_json).beanstalk.application }}" >> $GITHUB_OUTPUT
        echo "bucket=${{ fromJSON(steps.read_env_json.outputs.env_json).beanstalk.bucket }}" >> $GITHUB_OUTPUT
        echo "beanstalk_env=${{ fromJSON(steps.read_env_json.outputs.env_json).beanstalk.beanstalk_environment }}" >> $GITHUB_OUTPUT

    - name: OIDC Auth to AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: us-west-2
        role-to-assume: arn:aws:iam::265299512749:role/ci-oidc-role
        role-session-name: github-actions
        role-duration-seconds: 900

    - name: Assume role in target account
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ env.AWS_SESSION_TOKEN }}
        aws-region: us-west-2
        role-to-assume: arn:aws:iam::${{ steps.set_env_metadata.outputs.account }}:role/ci-role
        role-session-name: github-actions
        role-duration-seconds: 1200

    - name: Run deploy script
      run: |
        docker run -e AWS_ACCESS_KEY_ID -e AWS_SECRET_ACCESS_KEY -e AWS_SESSION_TOKEN -e GITHUB_WORKFLOW -e GITHUB_SHA -e GITHUB_RUN_NUMBER -e GITHUB_RUN_ATTEMPT ${IMAGE_URL} \
          deploy-scripts/gha_beanstalk_deploy.sh \
          --application-name ${{ steps.set_env_metadata.outputs.application }} \
          --environment-name ${{ steps.set_env_metadata.outputs.beanstalk_env }} \
          --bucket-name ${{ steps.set_env_metadata.outputs.bucket }} \
          --image-tag gha-tree-${{ steps.read_tree_hash.outputs.tree_hash }}
      env:
        IMAGE_URL: ${{ steps.login-ecr.outputs.registry }}/${{ inputs.ecr_repository }}:gha-tree-${{ steps.read_tree_hash.outputs.tree_hash }}
